<span class="row">
  @if (title != "") {
    <h4 mat-dialog-title 
        class="col"
        *ngIf="title">
      {{ data?.title }}
    </h4>
  }@else {
    <h4 mat-dialog-title 
        class="col"
        *ngIf="!title">
      Fehlermeldungen
    </h4>
  }
</span>

<table mat-table [dataSource]="dataSource">
  @for(colum of columns; track displayedColumns){
    <ng-container [matColumnDef]="colum?.['id']">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(255, 0, 0);"> {{ colum?.['label'] }}  </th>
      <td mat-cell *matCellDef="let element"> {{ element?.[ colum?.['id'] ] }} </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="verkuerzen table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="verkuerzen"></tr>
</table>