@import "../../../styles/formular.scss";

// Für das Formular
.sticky-table-header {
    top: 43px;
}

// Angular Material Tabelle Spalten
.mat-column-anzprobg,
.mat-column-anzprobgkomp,
.mat-column-elbez,
.mat-column-elbezkomp{
    width: 100px;
    text-align: center;
}

.mat-column-agbskd,
.mat-column-aglakd,
.mat-column-aghakd,
.mat-column-slbemerkungkd,
.mat-column-expand{
    width: 10px;
}