@import "../../styles/_farbpallete.scss";
@import "../../styles/formular.scss";

// Design des Headers anpassen
.hoehe_anpassen {
  padding-top: 23px;
  padding-top: 23px;
  
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Aus Wordpress entnommen
a {
  box-sizing: border-box;
  text-decoration: none;
  //color: rgb(77, 149, 164);
  color: $webseiten_kopf_schrift;
  color-scheme: light;
  font-size: 18px;
  font-weight: 400;

  font-family: Ruda, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;

  background-color: $webseiten_kopf_hintergrund;
}
  */

a {
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  color: $webseiten_kopf_schrift;
  font-size: 20px;

  background-color: $webseiten_kopf_hintergrund;
  &:hover{
    text-decoration: none;
  }
}

// Für das Dropdown-Menü, wenn der Bildschirm zu klein ist
.collapsible-container {
  position: relative;
}

.collapsible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}