<div class="container">
  <div class="row">
    <h4 mat-dialog-titlen style="padding-left: 20px; margin-top: 15px;">
      Leiterplatte restriktionen
    </h4>
  </div>
  
  <div mat-dialog-content class="row">
    Platzhalter Text:
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
  
    <img src="assets/logo_klein.png" />
  
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    <img src="assets/background.png" />
  
  </div>

  <div mat-dialog-actions class="row">
    <button 
      class="col-2 padding_x_3px btn btn-secondary" 
      [mat-dialog-close]="false" 
      cdkFocusInitial> 
        Abbrechen
    </button>

    <div class="col"></div>

    <button 
      class="col-2 padding_x_3px btn btn-success" 
      [mat-dialog-close]="true" 
      cdkFocusInitial> 
        Bestätigen
    </button>
  </div>
</div>
