@import "../../styles/formular.scss";

// Für die Navigations Zeile
.derzeitige_position {
  color:#00b546
}

.badge {
  font-size: small;
}

.text {
  font-size: large;
  font-weight: bold;
  text-shadow: none !important;
}