@import "../../styles/formular.scss";
@import "../../styles/fehler.scss";

// Für das Formular
@media (min-width: 1300px) {
  form {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1500px) {
  form {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1600px) {
  form {
    margin-left: 18%;
    margin-right: 18%;
  }
}

.sticky-table-header {
  top: 93px;
}

// Angular Material Tabelle Spalten
.mat-column-aunr,
.mat-column-aubemerkungkd {
  width: 10px;
}

.mat-column-slok,
.mat-column-prok {
  width: 1px;
}

.mat-column-slpositionen {
  width: 80px;
}

.mat-column-auftragsmenge {
  width: 50px;
}

.mat-column-absendetermin,
.mat-column-antworttermin {
  width: 70px;
}