<br>
<div class="container-xl">
  <mpl-formular-header CurrentTitle="My Angebote" [insgesamt]="auftraege.data.length" [einruecken]="true">
    <div class="row gap-2">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>

    </div>
  </mpl-formular-header>

  <div class="sticky">
    <mpl-ladebalken [falsches_laden_beginnen]="!(bereit && !spinning)"></mpl-ladebalken>
  </div>

  <br>

  @if(!bereit){
  <div style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
            ">
    <mat-spinner></mat-spinner>
  </div>
  }@else{
  <table mat-table [dataSource]="auftraege" multiTemplateDataRows>
    <!-- 
                Die Spalten der Tabelle werden mit der Classe matColoumDef definiert und über ein Array in <tr> verwendet.  
            -->
    <!--
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            -->
    <!--
                oberes wird mit einem Array generiert (Die Coloum Namen werden für den Header als auch als Key für ein Object verwendet. 
                Es muss noch angepasst werden um beides zu trennen) und unten ist es manuell eingefügt, damit es leichter ist, Spalten 
                breiter oder kürzer einzustellen. Das Array wird weiterhin benötigt um unter tr matHeaderRowDef 
            -->

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="aunr">
      <th mat-header-cell *matHeaderCellDef> Nr </th>
      <td mat-cell *matCellDef="let element"> {{element["aunr"]}} </td>
    </ng-container>
    <ng-container matColumnDef="bgnrkd">
      <th mat-header-cell *matHeaderCellDef> Baugruppe </th>
      <td mat-cell *matCellDef="let element"> {{element["bgnrkd"]}} </td>
    </ng-container>
    <ng-container matColumnDef="aubezeichnung">
      <th mat-header-cell *matHeaderCellDef> Bezeichnung </th>
      <td mat-cell *matCellDef="let element">
        {{ baugruppen_json_format[element['bgnr']]?.bgbezeichnungkd }}
      </td>
    </ng-container>
    <ng-container matColumnDef="slpositionen">
      <th mat-header-cell *matHeaderCellDef> SL-Pos </th>
      <td mat-cell *matCellDef="let element"> {{ element["slpositionen"] ?? 0 }} </td>
    </ng-container>
    <ng-container matColumnDef="slok">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> SL </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <mat-checkbox color="primary" [checked]="element.slok != undefined && element.slok != 0"
          disabled></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="prok">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> LP </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <mat-checkbox color="primary" [checked]="element.prok != undefined && element.prok != 0"
          disabled></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="auftragsmenge">
      <th mat-header-cell *matHeaderCellDef> Menge </th>
      <td mat-cell *matCellDef="let element"> {{element["auftragsmenge"]}} </td>
    </ng-container>
    <ng-container matColumnDef="absendetermin">
      <th mat-header-cell *matHeaderCellDef> Absendetermin </th>
      <td mat-cell *matCellDef="let element"> {{ element["absendetermin"] }} </td>
    </ng-container>
    <ng-container matColumnDef="antworttermin">
      <th mat-header-cell *matHeaderCellDef> Antworttermin </th>
      <td mat-cell *matCellDef="let element"> {{ element["antworttermin"] }} </td>
    </ng-container>
    <!--
            <ng-container matColumnDef="aubemerkungkd">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="element['aubemerkungkd']"> 
                        &#9733;
                    </span> 
                    <span *ngIf="!element['aubemerkungkd']"> 
                        &minus;
                    </span>
                </td>
            </ng-container>
            -->

    <!-- Löschen Knopf mit Mülltonnen Symbol -->
    <ng-container matColumnDef="loeschen">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon class="clickable main_muelltonne_anpasssen" (click)="loeschen($event)">

          delete
        </mat-icon>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="clickable muelltonne_anpasssen" (click)="loeschen($event, element)">
          delete
        </mat-icon>
      </td>
    </ng-container>

    <!-- Spalte mit dem Pfeil Symbol -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef>
        <span class="vertical_center_container">
          <label for="filterAll" class=""><mat-icon>search</mat-icon></label>
          <input id="filterAll" name="filterAll" type="text" class="form-control form-select-sm"
            (keyup)="applyFilter($event)" [(ngModel)]="filterAll" style="width: 100px;" />
        </span>
      </th>
      <td mat-cell *matCellDef="let element" style="text-align:right; width: 10px;">
        <div mat-icon-button
          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <form #auftragnform="ngForm">
            <div class="container box-anpassen">
              <h5 style="display: flex; justify-content: space-between;">
                <div style="display: inline-block; align-self: flex-end;"> Angebotdaten </div>
                <button type="button" class="btn btn-secondary"
                  style="padding-bottom: 0%; padding-left: 8px; padding-right: 8px;"
                  (click)="expandedElement = undefined;">
                  <mat-icon>close</mat-icon>
                </button>
              </h5>

              <div class="row">
                <label for="aunr{{ i }}" class="form-label col-3">Angebot Nr.</label>
                <div class="col">
                  <input id="aunr{{ i }}" name="aunr{{ i }}" type="text"
                    class="form-control form-select-sm kompakter-100 align-right" [(ngModel)]="element.aunr" disabled />
                </div>

                <label for="wunschtermin{{ i }}" class="form-label col-3 align-right">Wunschtermin </label>
                <div class="col align-right">
                  <input id="wunschtermin{{ i }}" name="wunschtermin{{ i }}" type="text"
                    class="form-control form-select-sm align-right" [ngModel]="get_wunschtermin(element.wunschtermin)"
                    disabled />
                </div>
              </div>

              <div class="row">
                <label for="baugruppen{{ i }}" class="form-label col-3">Baugruppe</label>
                <div class="col">
                  <input id="baugruppen{{ i }}" name="baugruppen{{ i }}" type="text"
                    class="form-control form-select-sm align-right" [ngModel]="get_bgnrkd(element?.bgnr)" disabled />
                </div>

                <label for="slpositionen{{ i }}" class="form-label col-3 align-right">SL-Pos</label>
                <div class="col align-right padding-8px">
                  <input id="slpositionen{{ i }}" name="slpositionen{{ i }}" type="text"
                    class="form-control form-select-sm kompakter-50 align-right"
                    [ngModel]="element && element.slpositionen"
                    (ngModelChange)="element && (element.slpositionen = $event)" disabled />
                </div>
              </div>

              <div class="row">
                <label for="bgbezeichnungkd{{ i }}" class="form-label col-3">Bezeichnung</label>
                <div class="col">
                  <input id="bgbezeichnungkd{{ i }}" name="bgbezeichnungkd{{ i }}" type="text"
                    class="form-control form-select-sm" [ngModel]="element && element.bgbezeichnungkd"
                    (ngModelChange)="element && (element.bgbezeichnungkd = $event)" disabled />
                </div>
              </div>

              <div class="row align-items-center">
                <label for="auftragsmenge{{ i }}" class="form-label col-3">Menge</label>
                <div class="col padding-8px">
                  <input id="auftragsmenge{{ i }}" name="auftragsmenge{{ i }}" type="text"
                    class="form-control form-select-sm kompakter-100 align-right"
                    [ngModel]="element && element.auftragsmenge"
                    (ngModelChange)="element && (element.auftragsmenge = $event)" disabled />
                </div>

                <label for="anlagezeitpunkt{{ i }}" class="form-label col-3 align-right">Angebots
                  Erstellungsdatum</label>
                <div class="col">
                  <input id="anlagezeitpunkt{{ i }}" name="anlagezeitpunkt{{ i }}" type="text"
                    class="form-control form-select-sm align-right" [ngModel]="change_date(element?.anlagezeitpunkt)"
                    disabled />
                </div>
              </div>

              <div class="row">
                <label for="kalkulationsstand{{ i }}" class="form-label col-3">kalk. Stand</label>
                <div class="col">
                  <input id="kalkulationsstand{{ i }}" name="kalkulationsstand{{ i }}"
                    class="form-control form-select-sm align-right" [ngModel]="change_date(element?.letztermatkalkzpkt)"
                    disabled />
                </div>

                <label for="letzteaenderungzpkt{{ i }}" class="form-label col-3 align-right">Letzte Änderung
                  Angebot</label>
                <div class="col align-right">
                  <input id="letzteaenderungzpkt{{ i }}" name="letzteaenderungzpkt{{ i }}" type="text"
                    class="form-control form-select-sm align-right"
                    [ngModel]="change_date(element?.letzteaenderungzpkt)" disabled />
                </div>
              </div>

              <div class="row">
                <label for="gesamtkosten{{ i }}" class="form-label col-3">Gesamtkosten</label>
                <div class="col">
                  <input id="gesamtkosten{{ i }}" name="gesamtkosten{{ i }}" type="text"
                    class="form-control form-select-sm kompakter-100 align-right"
                    [ngModel]="change_preise(element.gesamtkosten)" disabled />
                </div>

                <label for="letzteaenderungzpktbg{{ i }}" class="form-label col-3 align-right">Letzte Änderung
                  Baugruppe</label>
                <div class="col align-right">
                  <input id="letzteaenderungzpktbg{{ i }}" name="letzteaenderungzpktbg{{ i }}" type="text"
                    class="form-control form-select-sm align-right"
                    [ngModel]="change_date(element.letzteaenderungzpktbg)" disabled />
                </div>
              </div>

              <div class="row">
                <label for="KostenProBG{{ i }}" class="form-label col-3">Kosten pro BG</label>
                <div class="col">
                  <input id="KostenProBG{{ i }}" name="KostenProBG{{ i }}" type="text"
                    class="form-control form-select-sm kompakter-100 align-right"
                    [ngModel]="change_preise(element.kostenprobg)" disabled />
                </div>

                <label for="letzteaenderungzpktlp{{ i }}" class="form-label col-3 align-right">Letzte Änderung
                  Leiterplatte</label>
                <div class="col align-right">
                  <input id="letzteaenderungzpktlp{{ i }}" name="letzteaenderungzpktlp{{ i }}" type="text"
                    class="form-control form-select-sm align-right"
                    [ngModel]="change_date(element?.letzteaenderungzpktlp)" disabled />
                </div>
              </div>

              <div class="row">
                <label for="liefertermin{{ i }}" class="form-label col-3">Möglicher Liefertermin</label>
                <div class="col">
                  <input id="liefertermin{{ i }}" name="liefertermin{{ i }}" type="text"
                    class="form-control form-select-sm kompakter-100 align-right"
                    [ngModel]="change_date(element?.liefertermin, false)" disabled />
                </div>

                <label for="letzteaenderungzpktsl{{ i }}" class="form-label col-3 align-right">Letzte Änderung
                  BOM</label>
                <div class="col align-right">
                  <input id="letzteaenderungzpktsl{{ i }}" name="letzteaenderungzpktsl{{ i }}" type="text"
                    class="form-control form-select-sm align-right"
                    [ngModel]="change_date(element?.letzteaenderungzpktsl)" disabled />
                </div>
              </div>
              
              <div class="row">
                <div class="col-3"></div>
                <div class="col"></div>
                
                <label for="fristdatum{{ i }}" class="form-label col-3 align-right">Angebotsfrist Datum</label>
                <div class="col align-right">
                  <input id="fristdatum{{ i }}" name="fristdatum{{ i }}" type="text"
                    class="form-control form-select-sm align-right"
                    [ngModel]="change_date(element?.fristdatum)" disabled />
                </div>
              </div>

              <div class="row">
                <div class="col-3"></div>
                <div class="col"></div>
                
                <label for="fristdatum{{ i }}" class="form-label col-3 align-right">Angebotsfrist Status</label>
                <div class="col">
                  <mpl-countdown-timer [targetDate]="element?.fristdatum"></mpl-countdown-timer>
                </div>
              </div>

              <br>

              <div class="row m-2 border-success gap-2">
                <button type="button" class="btn btn-secondary col" (click)="Umleiten_nach_Dateien(element)">
                  Dateien anzeigen
                </button>

                <button type="button" class="btn btn-secondary col" (click)="Umleiten_nach_vergleich(element)">
                  Vergleich anzeigen
                </button>

                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>

              <div class="row m-2 border-success gap-2">
                <button type="button" class="btn btn-secondary col" (click)="ViewLeiterplattendaten(element)">
                  Leiterplatte anzeigen
                </button>

                <button type="button" class="btn btn-secondary col" (click)="ViewAuftragsStueckliste(element)">
                  BOM anzeigen
                </button>

                <div class="col"></div>
                <div class="col"></div>

                <button type="button" class="btn btn-success col" [disabled]="bitte_warten_angebot_bestellen" (click)="Umleiten_nach_checkout(element)">
                  @if(bitte_warten_angebot_bestellen){
                    Bitte warten...
                  }@else {
                    @if(jetzt < date_funktion(element?.fristdatum)){
                      Bestellen
                    }@else {
                      Neu Kalkulieren
                    }
                  }
                </button>
              </div>
            </div>
          </form>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"
      class="verkuerzen table-header sticky-table-header"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="element-row verkuerzen"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

  }

  <mat-paginator [length]="auftraege.data.length" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, auftraege.data.length]"
    [ngClass]="{'verstecken': !bereit}">
  </mat-paginator>

  <br>

</div>