<mat-card appearance="outlined" class="mat-card-anpassen">
  <mat-card-content class="mat-card-content-anpassen hoehe-auf-100">
    <div class="row hoehe-auf-100">
      <div class="col-8 hoehe-auf-100">
        <h3 class="hoehe-auf-100 Audiowide">
          {{ name }}
        </h3>
      </div>
      
      <div class="col-4 hoehe-auf-100">
        <div class="d-flex justify-content-center align-items-end hoehe-auf-100">
          <span class="img-anpassen">
            <ng-content></ng-content>
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>