<br>

<div class="container-xl">
  <h3 class="row">
    <div class="col" style="height: 38px;"> 
      Zusammenfassung
    </div>
  </h3>

  @if(bereit){
    @if(neues_projekt){
      <mpl-navigation [neues_projekt]="true" [position]="5" [bgnr]="bgnr" [aunr]="aunr" [alle_nav_anwendbar]="auftrag[0].bestellt !== 0"
      ></mpl-navigation>
    }@else if (neuer_auftrag) {
      <mpl-navigation [neuer_auftrag]="true" [position]="4" [bgnr]="bgnr" [aunr]="aunr" [name]="bgnrkd" [alle_nav_anwendbar]="auftrag[0].bestellt !== 0"
      ></mpl-navigation>
    }@else if (auftrag_fortfahren) {
      <mpl-navigation [auftrag_fortfahren]="true" [position]="4" [bgnr]="bgnr" [aunr]="aunr" [name]="bgnrkd"
      ></mpl-navigation>
    }@else{
      <mpl-navigation [auftraege]="true" [position]="4" [bgnr]="bgnr" [aunr]="aunr" [name]="aunr"
      ></mpl-navigation>
    }
  }@else {
    <h6>
      Es wird geladen.
    </h6>
  }
  

  <div class="sticky">
    <mpl-ladebalken [falsches_laden_beginnen]="!(baugruppe && bereit)"></mpl-ladebalken>
  </div>

  @if(!(baugruppe && bereit)){
    <div style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      ">
        <mat-spinner></mat-spinner>
    </div>
  }@else{
    @if ((neues_projekt || neuer_auftrag || auftrag_fortfahren) && (auftrag && auftrag[0].bestellt !== 0)) {
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" role="alert">
            Dieses Angebot wurde bereits bestellt!
          </div>
        </div>
      </div>
    }

    <h4> Angebots-Daten </h4>
    <div class="row">
      <div class="col">
        <h6> Baugruppe </h6> {{ baugruppe[0]?.bgnrkd }}
      </div>
      <div class="col">
        <h6> Anlagezeitpunkt </h6> {{ auftrag[0]?.anlagezeitpunkt }}
      </div>
      <div class="col">
        <h6> Menge </h6> {{ auftrag[0]?.auftragsmenge }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <h6> Version </h6> {{ baugruppe[0]?.bgrevisionkd }}
      </div>
      <div class="col">
        <h6> Bezeichnung </h6> {{ baugruppe[0]?.bgbezeichnungkd }}
      </div>
      <div class="col">
        <h6> Bemerkung </h6> {{ baugruppe[0]?.bgbemerkungkd }}
      </div>
    </div>

    <mat-divider></mat-divider>
    <br>

    <div class="row">
      <div class="col">
        <h4> BOM-Daten </h4>
      </div>
      <div class="col">
        <button class="btn btn-secondary btn-sm" (click)="ExcelOderPdfDownload(true)">
          BOM als Excel Downloaden
        </button>
      </div>
      <div class="col">
        <button class="btn btn-secondary btn-sm" (click)="ExcelOderPdfDownload(false)">
          BOM als PDF Downloaden
        </button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-4">
        <h6> Anzahl aller Bauteile </h6> {{bauteile_gesamt}}
      </div>
      <div class="col">
        <h6> Anzahl der Verfügbaren Bauteile </h6> {{verfuegbar}}
      </div>
      <div class="col">
        <h6> Anzahl der Nicht Verfügbaren Bauteile </h6> {{nicht_verfuegbar}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-4">
        <h6> Anzahl der Beistellungen </h6> {{beistellungen}}
      </div>
      <div class="col-4">
        <h6> Anzahl der Nicht bestückten </h6> {{nicht_bestuecken}}
      </div>
    </div>

    <mat-divider></mat-divider>
    <br>

    <h4> Nicht Verfügbare Bauteile </h4>
    <table mat-table [dataSource]="nicht_verfuegbare_bauteile">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="pos">
        <th mat-header-cell *matHeaderCellDef> POS </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="badge-medium">
            <span class="badge rounded-pill text-bg-secondary ">
                {{element["bompos"]}} 
            </span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="btnrkd">
        <th mat-header-cell *matHeaderCellDef> Bauteil Nr </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.btnrkd}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="btbeschreibungkd">
        <th mat-header-cell *matHeaderCellDef> Bauteil Beschreibung </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.btbeschreibungkd}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="htnrkd">
        <th mat-header-cell *matHeaderCellDef> Hersteller-Teile Nr. </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.htnrkd}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="btnrlikd">
        <th mat-header-cell *matHeaderCellDef> Lieferanten-Teile Nr. </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.btnrlikd}} 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns__table_nicht_verfuegbar; sticky: true" class="verkuerzen table-header"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns__table_nicht_verfuegbar;"
        class="element-row verkuerzen jedes_zweite_row_grau deactivate_hover">
      </tr>
    </table>

    <button 
      class="btn btn-secondary" 
      (click)="umleiten_nach_bom_pruefen()" 
    >
      Alternative Suche
    </button>

    <br>
    <br>
    <mat-divider></mat-divider>
    <br>

    <h4> Leiterplatten-Daten </h4>
    @if(baugruppe[0]?.statuslp !== LeiterplattenStatus.BEISTELLUNG){
      <div class="leiterplatten_daten">
        <h5>Leiterplattendaten</h5>
        <div class="row">
          <div class="col-2">
            <h6>Nr.</h6> {{ leiterplatte['lpbtnrkd'] }}
          </div>
          <div class="col-2">
            <h6>Letzte Änderung</h6> {{ leiterplatte['letzteaenderungzpkt'] }}
          </div>
          <div class="col-2">
            <h6>LP-Reversion</h6> {{ leiterplatte['lprevisionkd'] }}
          </div>
          <div class="col-2">
            <h6>LP-Bemerkung</h6> {{ leiterplatte['lpbemerkungkd'] }}
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <h6>Lieferzeit in Tagen</h6> {{ leiterplatte['lieferzeit1'] }}
          </div>
        </div>


        <h5>Abmessung der Leiterplatte</h5>
        <div class="row">
          <div class="col-3">
            <h6>Nutzentyp</h6> {{ leiterplatte['nutzenTyp'] }}
          </div>
        </div>

        @if(raw_leiterplatte['nutzenTyp'] == '0'){
          <div class="row">
            <div class="col-2">
              <h6>Leiterplatten Breite (mm)</h6> {{ leiterplatte['breite'] }}
            </div>
            <div class="col-2">
              <h6>Leiterplatten Länge (mm)</h6> {{ leiterplatte['laenge'] }}
            </div>
          </div>
        }

        @if(raw_leiterplatte['nutzenTyp'] == '1'){
          <div class="row">
            <div class="col-2">
              <h6>Nutzenbreite (mm)</h6> {{ leiterplatte['breiteeinzel'] }}
            </div>
            <div class="col-2">
              <h6>Nutzenlänge (mm)</h6> {{ leiterplatte['laengeeinzel'] }}
            </div>
            <div class="col-2">
              <h6>Anzahl der Leiterplatten im Nutzen</h6> {{ leiterplatte['nutzenzahl'] }}
            </div>
            <div class="col-2">
              <h6>Ritzen</h6> {{ leiterplatte['ritzen'] }}
            </div>

            <div class="col-2">
              <h6>Sprungritzen</h6> {{ leiterplatte['sprungritzen'] }}
            </div>
            <div class="col-2">
              <h6>Fräsen</h6> {{ leiterplatte['fraesen'] }}
            </div>
            <div class="col-2">
              <h6>Keine X-Out im Nutzen</h6> {{ leiterplatte['nutzenkeinexout'] }}
            </div>
            <div class="col-2">
              <h6>Nutzenaufbau</h6> {{ leiterplatte['nutzenaufbau'] }}
            </div>

            <div class="col-2">
              <h6>Fräsdurchmesser</h6> {{ leiterplatte['fraesdurchmesser'] }}
            </div>
          </div>
        }

        <h5>Spezifikationen der Leiterplatte</h5>
        <div class="row">
          <div class="col-2">
            <h6>Anzahl der Lagen</h6> {{ leiterplatte['lagen'] }}
          </div>
          <div class="col-2">
            <h6>Leiterplattentyp</h6> {{ leiterplatte['lptyp'] }}
          </div>
          <div class="col-2">
            <h6>Oberflächen-Finish</h6> {{ leiterplatte['finish'] }}
          </div>
          <div class="col-2">
            <h6>Hartgold</h6> {{ leiterplatte['hartgold'] }}
          </div>
          <div class="col-2">
            <h6>GoldArea</h6> {{ leiterplatte['goldarea'] }}
          </div>
          <div class="col-2">
            <h6>Basismaterial</h6> {{ leiterplatte['material'] }}
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <h6>MaterialHalogenFrei</h6> {{ leiterplatte['materialhalogenfrei'] }}
          </div>
          <div class="col-2">
            <h6>Leiterplattendicke (mm)</h6> {{ leiterplatte['dicke'] }}
          </div>
          <div class="col-2">
            <h6>DickeEnddicke</h6> {{ leiterplatte['dickeenddicke'] }}
          </div>
          <div class="col-2">
            <h6>DickeEnddickeMax</h6> {{ leiterplatte['dickeenddickemax'] }}
          </div>
          <div class="col-2">
            <h6>IPC-Klasse</h6> {{ leiterplatte['ipcklasse'] }}
          </div>
          <div class="col-2">
            <h6>E-Test</h6> {{ leiterplatte['etest'] }}
          </div>
        </div>

        <h5>Lackierung</h5>
        <div class="row">
          <div class="col-2">
            <h6>Positionsdruck</h6> {{ leiterplatte['pd'] }}
          </div>
          <div class="col-2">
            <h6>Positionsdruck Farbe</h6> {{ leiterplatte['pdfarbe'] }}
          </div>
          <div class="col-2">
            <h6>Lötstopplack</h6> {{ leiterplatte['ls'] }}
          </div>
          <div class="col-2">
            <h6>Lötstopplackfarbe</h6> {{ leiterplatte['lsfarbe'] }}
          </div>
          <div class="col-2">
            <h6>LSdoppelt</h6> {{ leiterplatte['lsdoppelt'] }}
          </div>
        </div>

        <h5>Kennzeichnung</h5>
        <div class="row">
          <div class="col-2">
            <h6>UL-Kennzeichnung</h6> {{ leiterplatte['ulsign'] }}
          </div>
          <div class="col-2">
            <h6>UL-Kanada</h6> {{ leiterplatte['ulkanada'] }}
          </div>
          <div class="col-2">
            <h6>UL-Type</h6> {{ leiterplatte['ultype'] }}
          </div>
          <div class="col-2">
            <h6>Datums-Kennzeichnung</h6> {{ leiterplatte['datecode'] }}
          </div>
          <div class="col-2">
            <h6>RoHS-Kennzeichnung</h6> {{ leiterplatte['rohssign'] }}
          </div>
        </div>

        <h5>Layout</h5>
        <div class="row">
          <div class="col-2">
            <h6>Mindest Leiterbahnabstand</h6> {{ leiterplatte['minabstaende'] }}
          </div>
          <div class="col-2">
            <h6>Mindestgröße Leiterbahnen</h6> {{ leiterplatte['mintrack'] }}
          </div>
          <div class="col-2">
            <h6>Mindestgröße Restring</h6> {{ leiterplatte['minrestring'] }}
          </div>
          <div class="col-2">
            <h6>Mindestgröße Bohrlöcher</h6> {{ leiterplatte['minbohrung'] }}
          </div>
          <div class="col-2">
            <h6>Lagenaufbau</h6> {{ leiterplatte['lagenaufbau'] }}
          </div>
        </div>
        
        <h5>Lagenaufbaukupferdicke</h5>
        <div class="row">
          <div class="col-2">
            <h6>Externe Kupferdicke</h6> {{ leiterplatte['externekupferdicke'] }}
          </div>
          <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 1">
            <h6>Interne Kupferdicke 1</h6> {{ leiterplatte['internekupferdicke1'] }}
          </div>
          <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 2">
            <h6>Interne Kupferdicke 2</h6> {{ leiterplatte['internekupferdicke2'] }}
          </div>
          <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 3">
            <h6>Interne Kupferdicke 3</h6> {{ leiterplatte['internekupferdicke3'] }}
          </div>
          <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 4">
            <h6>Interne Kupferdicke 4</h6> {{ leiterplatte['internekupferdicke4'] }}
          </div>
          <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 5">
            <h6>Interne Kupferdicke 5</h6> {{ leiterplatte['internekupferdicke5'] }}
          </div>
        </div>

        @if( anzahl_interne_kupferdicke >= 6 ){
          <div class="row">
            <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 6">
              <h6>Interne Kupferdicke 6</h6> {{ leiterplatte['internekupferdicke6'] }}
            </div>
            <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 7">
              <h6>Interne Kupferdicke 7</h6> {{ leiterplatte['internekupferdicke7'] }}
            </div>
            <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 8">
              <h6>Interne Kupferdicke 8</h6> {{ leiterplatte['internekupferdicke8'] }}
            </div>
            <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 9">
              <h6>Interne Kupferdicke 9</h6> {{ leiterplatte['internekupferdicke9'] }}
            </div>
            <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 10">
              <h6>Interne Kupferdicke 10</h6> {{ leiterplatte['internekupferdicke10'] }}
            </div>
            <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 11">
              <h6>Interne Kupferdicke 11</h6> {{ leiterplatte['internekupferdicke11'] }}
            </div>
          </div>
        }

        @if(anzahl_interne_kupferdicke >= 12){
          <div class="row">
            <div class="col-2">
              <h6>Interne Kupferdicke 12</h6> {{ leiterplatte['internekupferdicke12'] }}
            </div>
          </div>
        }
        

        <h5>Spezifische Optionen</h5>
        <div class="row">
          <div class="col-2">
            <h6>Material CTI Wert</h6> {{ leiterplatte['materialctiwert'] }}
          </div>
          <div class="col-2">
            <h6>Z-Achsen Fräsen</h6> {{ leiterplatte['zachsenfraesen'] }}
          </div>
          <div class="col-2">
            <h6>Z-Achsen Fräsen Tiefe</h6> {{ leiterplatte['zachsenfraesentiefe'] }}
          </div>
          <div class="col-2">
            <h6>Fasung</h6> {{ leiterplatte['fasung'] }}
          </div>
          <div class="col-2">
            <h6>Senkungen</h6> {{ leiterplatte['senkungen'] }}
          </div>
          <div class="col-2">
            <h6>Via Typ</h6> {{ leiterplatte['viatyp'] }}
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <h6>Via Füllung</h6> {{ leiterplatte['viafill'] }}
          </div>
          <div class="col-2">
            <h6>Anzahl Blind Vias</h6> {{ leiterplatte['blindvias'] }}
          </div>
          <div class="col-2">
            <h6>Anzahl Buried Vias</h6> {{ leiterplatte['buriedvias'] }}
          </div>
          <div class="col-2">
            <h6>Anzahl Bohrungen</h6> {{ leiterplatte['anzahlbohrungen'] }}
          </div>
          <div class="col-2">
            <h6>Anzahl ETestTestPunkte</h6> {{ leiterplatte['etesttestpunkte'] }}
          </div>
          <div class="col-2">
            <h6>Anzahl Pads Top</h6> {{ leiterplatte['padstop'] }}
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <h6>Anzahl Pads Bot</h6> {{ leiterplatte['padsbot'] }}
          </div>
          <div class="col-2">
            <h6>Abziehlack</h6> {{ leiterplatte['peeling'] }}
          </div>
          <div class="col-2">
            <h6>Abziehlackart</h6> {{ leiterplatte['peelingart'] }}
          </div>
          <div class="col-2">
            <h6>Karbondruck</h6> {{ leiterplatte['carbon'] }}
          </div>
          <div class="col-2">
            <h6>Kantenmetallisierung</h6> {{ leiterplatte['kantenverzinnung'] }}
          </div>
          <div class="col-2">
            <h6>Press-Fit</h6> {{ leiterplatte['pressfit'] }}
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <h6>Spulentechnik</h6> {{ leiterplatte['spulentechnik'] }}
          </div>
          <div class="col-2">
            <h6>Durchkontaktierte Schlitze</h6> {{ leiterplatte['dkschlitze'] }}
          </div>
          <div class="col-2">
            <h6>Stiffener</h6> {{ leiterplatte['stiffener'] }}
          </div>
        </div>
      </div>
    }@else {
      <mpl-leiterplatte-beigestellt></mpl-leiterplatte-beigestellt>
    }

    <mat-divider></mat-divider>
    <br>

    @if(!auftrag_fortfahren){
      <h4> Top 5 Teuersten Bauteile </h4>
      <table mat-table [dataSource]="fuenf_teuerste_bauteile">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="pos">
          <th mat-header-cell *matHeaderCellDef> POS </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="badge-medium">
              <span class="badge rounded-pill text-bg-secondary ">
                  {{element["bompos"]}} 
              </span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="btnrkd">
          <th mat-header-cell *matHeaderCellDef> Bauteil Nr </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.btnrkd}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="btbeschreibungkd">
          <th mat-header-cell *matHeaderCellDef> Bauteil Beschreibung </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.btbeschreibungkd}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="htnrkd">
          <th mat-header-cell *matHeaderCellDef> Hersteller-Teile Nr. </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.htnrkd}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="btnrlikd">
          <th mat-header-cell *matHeaderCellDef> Lieferanten-Teile Nr. </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.btnrlikd}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="lieferZeit">
          <th mat-header-cell *matHeaderCellDef> Lieferzeit </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ element.lieferZeit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="beschaffungsmenge">
          <th mat-header-cell *matHeaderCellDef> Beschaffungsmenge </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ element.beschaffungsmenge }}
          </td>
        </ng-container>
        <ng-container matColumnDef="gesamtpreis">
          <th mat-header-cell *matHeaderCellDef> Gesamtpreis </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ element["betragbeschaffungsmenge"] | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns__table_teuerste_bauteile; sticky: true" class="verkuerzen table-header"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns__table_teuerste_bauteile;"
          class="element-row verkuerzen jedes_zweite_row_grau deactivate_hover">
        </tr>
      </table>
      
      <button 
        class="btn btn-secondary" 
        (click)="umleiten_nach_bom_pruefen()" 
      >
        Bauteile bearbeiten
      </button>

      <br>
      <br>
      <mat-divider></mat-divider>
      <br>

      <h4> Top 5 längsten Lieferzeiten </h4>
      <table mat-table [dataSource]="fuenf_laengsten_lieferzeit">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="pos">
          <th mat-header-cell *matHeaderCellDef> POS </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="badge-medium">
              <span class="badge rounded-pill text-bg-secondary ">
                  {{element["bompos"]}} 
              </span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="btnrkd">
          <th mat-header-cell *matHeaderCellDef> Bauteil Nr </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.btnrkd}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="btbeschreibungkd">
          <th mat-header-cell *matHeaderCellDef> Bauteil Beschreibung </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.btbeschreibungkd}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="htnrkd">
          <th mat-header-cell *matHeaderCellDef> Hersteller-Teile Nr. </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.htnrkd}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="btnrlikd">
          <th mat-header-cell *matHeaderCellDef> Lieferanten-Teile Nr. </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.btnrlikd}} 
          </td>
        </ng-container>


        <ng-container matColumnDef="lieferZeit">
          <th mat-header-cell *matHeaderCellDef> Lieferzeit </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ element.lieferZeit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="beschaffungsmenge">
          <th mat-header-cell *matHeaderCellDef> Beschaffungsmenge </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ element.beschaffungsmenge }}
          </td>
        </ng-container>
        <ng-container matColumnDef="gesamtpreis">
          <th mat-header-cell *matHeaderCellDef> Gesamtpreis </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ element["betragbeschaffungsmenge"] | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns__table_laengsten_lieferzeit; sticky: true" class="verkuerzen table-header"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns__table_laengsten_lieferzeit;"
          class="element-row verkuerzen jedes_zweite_row_grau deactivate_hover">
        </tr>
      </table>
      
      <button 
        class="btn btn-secondary" 
        (click)="umleiten_nach_bom_pruefen()" 
      >
        Bauteile bearbeiten
      </button>
    }

    <br>
    <br>
    <mat-divider></mat-divider>
    <br>

    <h4>Wählen Sie einen Liefertermin aus.</h4>
    <table mat-table [dataSource]="wunschtermine">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="ankreuzfeld">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="change_selection(row)"
                        [checked]="selection.isSelected(row)"
                        [disabled]="auftrag[0].bestellt == 1">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Fertigungsoption </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="lieferung">
        <th mat-header-cell *matHeaderCellDef> Lieferung </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          {{ date_array[i] | date: 'dd.MM.yyyy' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="preisprobaugruppe">
        <th mat-header-cell *matHeaderCellDef> Preis pro Baugruppe </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          {{gesamtkosten_pro_baugruppe_mit_lieferkosten[i] | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="gesamtpreis">
        <th mat-header-cell *matHeaderCellDef> Gesamtpreis </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          {{gesamtkosten_mit_lieferkosten[i] | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bauteiloptionkd">
        <td mat-footer-cell *matFooterCellDef colspan="2"> 
          <div class="align-self-center">
            <span>
              @if(auftrag[0].bauteiloptionkd === bauteilOptionStatus.LIEFERZEIT){
                Es wurden Bauteile mit den besten Lieferzeiten ausgesucht.
              }@else if(auftrag[0].bauteiloptionkd === bauteilOptionStatus.PREIS){
                Es wurden Bauteile mit den besten Preisen ausgesucht.
              }
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="beste_lieferzeit">
        <td mat-footer-cell *matFooterCellDef colspan="2"> 
          @if(auftrag[0].bauteiloptionkd !== bauteilOptionStatus.LIEFERZEIT){
            <button 
              class="btn btn-secondary" 
              (click)="bauteiloptionkd_aendern(bauteilOptionStatus.LIEFERZEIT)" 
              [disabled]="bitte_warten_bauteilOptionenStatus"
            >
              @if(bitte_warten_bauteilOptionenStatus){
                Bitte warten ...
              }@else {
                Beste Lieferzeit
              }
            </button>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="bester_preis">
        <td mat-footer-cell *matFooterCellDef colspan="1"> 
          @if(auftrag[0].bauteiloptionkd !== bauteilOptionStatus.PREIS){
            <button 
              class="btn btn-secondary" 
              (click)="bauteiloptionkd_aendern(bauteilOptionStatus.PREIS)" 
              [disabled]="bitte_warten_bauteilOptionenStatus"
            >
              @if(bitte_warten_bauteilOptionenStatus){
                Bitte warten ...
              }@else {
                Bester Preis
              }
            </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns__table_lieferzeit; sticky: true" class="verkuerzen table-header"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns__table_lieferzeit;"
        class="element-row verkuerzen jedes_zweite_row_grau"
        (click)="auftrag[0].bestellt != 1 ? selection.toggle(element) : null">
      </tr>

      @if(neues_projekt || neuer_auftrag){
        <tr mat-footer-row *matFooterRowDef="['bauteiloptionkd', 'beste_lieferzeit', 'bester_preis']"></tr>
      }
    </table>

 
    <mat-divider></mat-divider>
    <br>

    <h4>Laden Sie ihre Fertigungsdaten und zusätzliche Dokumente hier hoch</h4>
    
    <mpl-unterlagen 
      [titel]="false" 
      [einruecken]="false" 
      [zurueck_button]="false" 
      [aunr]="aunr"
      [suchen_funktion]="false"
      [gerberdaten_anzeigen]="baugruppe[0]?.statuslp !== LeiterplattenStatus.BEISTELLUNG"
    ></mpl-unterlagen>

    <br>
    
    <div class="row margin_right_0">
      <!--
      <button 
        type="button"
        class="btn btn-secondary col-2"
        (click)="zurueck()"
      >Zurück</button>
      -->
      <mpl-pfeil-links class="col-auto" (click_event)="zurueck()"></mpl-pfeil-links>

      <div class="col"></div>

      <!--
      <button 
        type="button"
        class="btn btn-success col-2"
        [disabled]="selection.isEmpty() || bitte_warten_angebot_erstellen"
        (click)="umleiten_nach_angebot_bestaetigen()"
        [matTooltipDisabled]="selection.isEmpty()"
        matTooltip="Bitte wählen Sie einen Liefertermin aus!"
      >
        @if(bitte_warten_angebot_erstellen){
          Bitte warten ...
        }@else {
          @if(neuer_auftrag || neues_projekt){
            Angebot erstellen
          }@else {
            Weiter
          }
        }
      </button>
      -->

      <mpl-pfeil-rechts 
        class="col-auto" 
        (click_event)="umleiten_nach_angebot_bestaetigen()" 
        [disabled]="selection.isEmpty() || bitte_warten_angebot_erstellen"
        [matTooltipDisabled]="!selection.isEmpty()"
        matTooltip="Bitte wählen Sie einen Liefertermin aus!"
      ></mpl-pfeil-rechts>

    </div>
    
    <br>
  }
   
  
</div>