<div class="container">
  <div
    class="row"
    style="padding-right: 5px;"
  >
    @if(title){
      <h4 class="col padding_bottom_0">
        {{ title }}
      </h4>
    }@else{
      <h4 class="col padding_bottom_0">
        Fehlermeldung
      </h4>
    }

    <!--
    <div class="col-2 button_center_end">
      <button class="btn btn-secondary padding_bottom_0"  mat-dialog-close cdkFocusInitial>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    -->
  </div>

  <div class="row">
    <span class="col">
      {{ content.message }}
    </span>
  </div>

  @if(content.todo){
    <div class="row">
      <span class="col">
        {{ content.todo }}
      </span>
    </div>
  }

  <div class="row" style="margin-top: 10px;">
    <div class="col"></div>

    <button class="col-2 btn btn-secondary" style="margin-right: 12px;" mat-dialog-close cdkFocusInitial>
      Ok
    </button>
  </div>
</div>
