@import "../../../styles/formular.scss";

.container {
  padding-top:    20px;
  padding-bottom: 20px;
}

.row {
  margin-left:  5px;
  margin-right: 5px;
}

.mat-column-bompos{
  width: 10px;
}

.verkuerzen {
  height: 28px !important;
}

.button_center_end {
  display:flex;
  justify-content: flex-end;
  align-items: center ;
}

.padding_bottom_0 {
  padding-bottom: 0;
}

.padding_10 {
  padding: 10px;
}

.max_height {
  max-height: 400px;
}