<mpl-formular-header CurrentTitle="Kunden Übersicht" [insgesamt]="kunden.length">
    <div class="col">
        <button class="btn btn-success" style="text-align: right;" routerLink="/kunde/anlegen" routerLinkActive="active">
            Neuen Kunden anlegen
        </button>
    </div>
</mpl-formular-header>

<!-- Ränder vor Header und Footer -->
<div class="container-xl">
<!--  Zeilenüberschrift -->
    <div class="row">
        <div class="col">Kundennummer</div>
        <div class="col">Firma</div>
        <div class="col">Land</div>
        <div class="col">Ort</div>
        <div class="col">Email</div>
    </div>
<!-- Daten in die Zeile eintragen -->
            <div
                ngbAccordionItem
                class="row"
                *ngFor="let kunde of kunden; index as i"
            >
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="verkuerzen">   <!-- Buttons zum öffnen der Zeilentabelle-->
                        <div class="col">{{ kunde.kdnr }}</div>  <!-- Daten der Baugruppenzeile-->
                        <div class="col">{{ kunde.firma }}</div>
                        <div class="col">{{ kunde.land }}</div>
                        <div class="col">{{ kunde.ort }}</div>
                        <div class="col">{{ kunde.mail }}</div>
                    </button>
                </h2>

                <!-- Zeilentabelle -->
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="row">
                                <label
                                    for="kdnr{{ i }}"
                                    class="col-form-label col-3"
                                    >Kundennummer</label
                                >
                                <input
                                    id="kdnr{{ i }}"
                                    name="kdnr{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.kdnr"
                                    disabled
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="firma{{ i }}"
                                    class="col-form-label col-3"
                                    >Firma</label
                                >
                                <input
                                    id="firma{{ i }}"
                                    name="firma{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.firma"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="anrede{{ i }}"
                                    class="col-form-label col-3"
                                    >Anrede</label
                                >
                                <select
                                    id="anrede{{ i }}"
                                    name="anrede{{ i }}"
                                    class="form-select col"
                                    [(ngModel)]="kunde.anrede"
                                >
                                    <option value="Herr">Herr</option>
                                    <option value="Frau">Frau</option>
                                    <option value="Divers">Divers</option>
                                </select>
                            </div>

                            <div class="row">
                                <label
                                    for="vorname{{ i }}"
                                    class="col-form-label col-3"
                                    >Vorname</label
                                >
                                <input
                                    id="vorname{{ i }}"
                                    name="vorname{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.vorname"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="nachname{{ i }}"
                                    class="col-form-label col-3"
                                    >Nachname</label>
                                <input
                                    id="nachname{{ i }}"
                                    name="nachname{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.nachname"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="strasse{{ i }}"
                                    class="col-form-label col-3"
                                    >Straße</label>
                                <input
                                    id="strasse{{ i }}"
                                    name="strasse{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.strasse"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="plz{{ i }}"
                                    class="col-form-label col-3"
                                    >PLZ</label>
                                <input
                                    id="plz{{ i }}"
                                    name="plz{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.plz"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="ort{{ i }}"
                                    class="col-form-label col-3"
                                    >Ort</label>
                                <input
                                    id="ort{{ i }}"
                                    name="ort{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.ort"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="land{{ i }}"
                                    class="col-form-label col-3"
                                    >Land</label>
                                <input
                                    id="land{{ i }}"
                                    name="land{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.land"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="mail{{ i }}"
                                    class="col-form-label col-3"
                                    >E-Mail</label>
                                <input
                                    id="mail{{ i }}"
                                    name="mail{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.mail"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="tel{{ i }}"
                                    class="col-form-label col-3"
                                    >Telefonnummer</label>
                                <input
                                    id="tel{{ i }}"
                                    name="tel{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.tel"
                                />
                            </div>

                            <div class="m-1 col-md">
                                <input
                                    id="lieferadresse"
                                    name="lieferadresse"
                                    type="checkbox"
                                    class="btn-check"
                                    [(ngModel)]="kunde.andereLieferadresse"
                                />
                                <label for="lieferadresse" class="btn btn-outline-success"
                                    >Andere Lieferadresse</label
                                >
                            </div>

                            <div *ngIf="!kunde.andereLieferadresse">
                                
                                <div class="row">
                                    <label
                                        for="lianrede{{ i }}"
                                        class="col-form-label col-3"
                                        >Anrede</label
                                    >
                                    <select
                                        id="lianrede{{ i }}"
                                        name="lianrede{{ i }}"
                                        class="form-select col"
                                        [(ngModel)]="kunde.lianrede"
                                    >
                                        <option value="Herr">Herr</option>
                                        <option value="Frau">Frau</option>
                                        <option value="Divers">Divers</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <label
                                        for="livorname{{ i }}"
                                        class="col-form-label col-3"
                                        >Vorname</label>
                                    <input
                                        id="livorname{{ i }}"
                                        name="livorname{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.livorname"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="linachname{{ i }}"
                                        class="col-form-label col-3"
                                        >Nachname</label>
                                    <input
                                        id="linachname{{ i }}"
                                        name="linachname{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.linachname"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="liland{{ i }}"
                                        class="col-form-label col-3"
                                        >Land</label>
                                    <input
                                        id="liland{{ i }}"
                                        name="liland{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.liland"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="listrasse{{ i }}"
                                        class="col-form-label col-3"
                                        >Straße</label>
                                    <input
                                        id="listrasse{{ i }}"
                                        name="listrasse{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.listrasse"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="liplz{{ i }}"
                                        class="col-form-label col-3"
                                        >PLZ</label>
                                    <input
                                        id="liplz{{ i }}"
                                        name="liplz{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.liplz"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="liort{{ i }}"
                                        class="col-form-label col-3"
                                        >Ort</label>
                                    <input
                                        id="liort{{ i }}"
                                        name="liort{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.liort"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="litel{{ i }}"
                                        class="col-form-label col-3"
                                        >Telefonnummer</label>
                                    <input
                                        id="litel{{ i }}"
                                        name="litel{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.litel"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="limail{{ i }}"
                                        class="col-form-label col-3"
                                        >E-Mail</label>
                                    <input
                                        id="limail{{ i }}"
                                        name="limail{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.limail"
                                    />
                                </div>
                            
                            </div>

                            <div class="m-1 col-md">
                                <input
                                    id="rechnungsadresse"
                                    name="rechnungsadresse"
                                    type="checkbox"
                                    class="btn-check"
                                    [(ngModel)]="kunde.andereRechnungsadresse"
                                />
                                <label for="rechnungsadresse" class="btn btn-outline-success"
                                    >Andere Rechnungsadresse</label
                                >
                            </div>

                            <div *ngIf="!kunde.andereRechnungsadresse">

                                <div class="row">
                                    <label
                                        for="reanrede{{ i }}"
                                        class="col-form-label col-3"
                                        >Anrede</label
                                    >
                                    <select
                                        id="reanrede{{ i }}"
                                        name="reanrede{{ i }}"
                                        class="form-select col"
                                        [(ngModel)]="kunde.reanrede"
                                    >
                                        <option value="Herr">Herr</option>
                                        <option value="Frau">Frau</option>
                                        <option value="Divers">Divers</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <label
                                        for="revorname{{ i }}"
                                        class="col-form-label col-3"
                                        >Vorname</label>
                                    <input
                                        id="revorname{{ i }}"
                                        name="revorname{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.revorname"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="renachname{{ i }}"
                                        class="col-form-label col-3"
                                        >Nachname</label>
                                    <input
                                        id="renachname{{ i }}"
                                        name="renachname{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.renachname"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="reland{{ i }}"
                                        class="col-form-label col-3"
                                        >Land</label>
                                    <input
                                        id="reland{{ i }}"
                                        name="reland{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.reland"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="restrasse{{ i }}"
                                        class="col-form-label col-3"
                                        >Straße</label>
                                    <input
                                        id="restrasse{{ i }}"
                                        name="restrasse{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.restrasse"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="replz{{ i }}"
                                        class="col-form-label col-3"
                                        >PLZ</label>
                                    <input
                                        id="replz{{ i }}"
                                        name="replz{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.replz"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="reort{{ i }}"
                                        class="col-form-label col-3"
                                        >Ort</label>
                                    <input
                                        id="reort{{ i }}"
                                        name="reort{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.reort"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="retel{{ i }}"
                                        class="col-form-label col-3"
                                        >Telefonnummer</label>
                                    <input
                                        id="retel{{ i }}"
                                        name="retel{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.retel"
                                    />
                                </div>

                                <div class="row">
                                    <label
                                        for="remail{{ i }}"
                                        class="col-form-label col-3"
                                        >E-Mail</label>
                                    <input
                                        id="remail{{ i }}"
                                        name="remail{{ i }}"
                                        type="text"
                                        class="form-control col"
                                        [(ngModel)]="kunde.remail"
                                    />
                                </div>
                            
                            </div>

                            <!--
                            <div class="row">
                                <label
                                    for="versandart{{ i }}"
                                    class="col-form-label col-3"
                                    >Versandart</label>
                                <input
                                    id="versandart{{ i }}"
                                    name="versandart{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.versandart"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="rechnungsversand{{ i }}"
                                    class="col-form-label col-3"
                                    >Rechnungsversand</label>
                                <input
                                    id="rechnungsversand{{ i }}"
                                    name="rechnungsversand{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.rechnungsversand"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="sprache{{ i }}"
                                    class="col-form-label col-3"
                                    >Letzte </label>
                                <input
                                    id="sprache{{ i }}"
                                    name="sprache{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.sprache"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="waehrung{{ i }}"
                                    class="col-form-label col-3"
                                    >Letzte </label>
                                <input
                                    id="waehrung{{ i }}"
                                    name="waehrung{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.waehrung"
                                />
                            </div>

                            <div class="row">
                                <label
                                    for="ustidnr{{ i }}"
                                    class="col-form-label col-3"
                                    >Letzte </label>
                                <input
                                    id="ustidnr{{ i }}"
                                    name="ustidnr{{ i }}"
                                    type="text"
                                    class="form-control col"
                                    [(ngModel)]="kunde.ustidnr"
                                />
                            </div>
                            -->
                            <div class="row m-2 border-success">
                                <div class="col m-2">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        (click)="Delete(kunde)"
                                    >
                                        L&ouml;schen
                                    </button>
                                </div>

                                <div class="col m-2">
                                    <button
                                        type="button"
                                        class="btn btn-success"
                                        (click)="selectKdnr(kunde)"
                                    >
                                        Kunde verwenden
                                    </button>
                                </div>
                                
                                <div class="col m-2">
                                    <button
                                        class="btn btn-success"
                                        (click)="Update(kunde)"
                                    >
                                        Änderungen speichern
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
</div>
