<div style="padding-top: 5px; padding-bottom: 5px; padding-left: 7px; padding-right: 7px;">
  <h6 *ngIf="!title">
    Fehlermeldungen
  </h6>
  <h6 *ngIf="title">
    Fehlermeldungen aus {{ title }}
  </h6>
  <table mat-table [dataSource]="dataSource">
    @for(colum of columns; track displayedColumns){
      <ng-container [matColumnDef]="colum?.['id']">
        <th mat-header-cell *matHeaderCellDef> {{ colum?.['label'] }}  </th>
        <td mat-cell *matCellDef="let element"> {{ element?.[ colum?.['id'] ] }} </td>
      </ng-container>
    } 

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="verkuerzen table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="verkuerzen jedes_zweite_row_grau"></tr>
  </table>
</div>