<div class="container">
    <div class="row">
        <h4 mat-dialog-titlen style="padding-left: 20px; margin-top: 15px;">
            {{ data.titel }}
        </h4>
    </div>
    
    <div mat-dialog-content class="row">
        {{ data.content }}
    </div>

    <div mat-dialog-actions class="row">
        <button class="padding_x_3px btn btn-secondary" style="margin-right: auto;" (click)="abbrechen()">Abbrechen</button>
    
        <button 
            *ngIf="!data.nein_button_exist_not"
            class="padding_x_3px btn btn-{{ data.nein_button_style ? data.nein_button_style : 'danger' }}" 
            [mat-dialog-close]="false" 
            cdkFocusInitial> 
                {{ data.nein_button_content ? data.nein_button_content : "Nein" }} 
        </button>
    
        <button 
            class="padding_x_3px btn btn-{{ data.ja_button_style ? data.ja_button_style : 'success' }}" 
            [mat-dialog-close]="true" 
            cdkFocusInitial> 
                {{ data.ja_button_content ? data.ja_button_content : "Ja" }}
        </button>
    </div>
</div>
