<br>
<div class="container-xl">
    <h3>
        My Bauteil Suche
    </h3>

    <div class="sticky">
        <mpl-ladebalken [falsches_laden_beginnen]="bereit || loading_Globale_Suche"></mpl-ladebalken>
    </div>

    <mat-stepper (selectionChange)="onStepChange($event)" [linear]="true" #stepper>
        <mat-step [stepControl]="BauteilAuswaehlenFormGroup" label="Bauteil suchen">
            <mpl-globale-bauteil-suche 
                [linamekd]="linamekd" 
                [methode]="methode_bauteil_suchen"
                [gesamtmenge]="1"
                (lade_status)="lade_status_aktualisieren($event)"
                (bauteil_ausgewaehlt)="BauteilSpeichern($event)" 
                (abbrechen)="zurueck()"
            ></mpl-globale-bauteil-suche>
        </mat-step>
        <mat-step [stepControl]="BauteilHinzufuegenFormGroup" label="Bauteil hinzufügen">
            <div class="container-xxl box-anpassen">
                <form
                    #bauteileform="ngForm" 
                    [formGroup]="BauteilHinzufuegenFormGroup"
                    (ngSubmit)="Bauteilhinzufuegen()"
                >
                    <h5>
                        Bauteildaten
                    </h5>

                    <div class="row">
                        <label
                            for="btnrkd"
                            class="form-label col-3"
                            >Artikelnummer</label
                        >
                        <div class="col">
                            <input
                                id="btnrkd"
                                name="btnrkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="btnrkd"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="btbeschreibungkd"
                            class="form-label col-3"
                            >Beschreibung</label
                        >
                        <div class="col">
                            <input
                                id="btbeschreibungkd"
                                name="btbeschreibungkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="btbeschreibungkd"
                                
                                [class.invalid]="this.BauteilHinzufuegenFormGroup.get('btbeschreibungkd')?.errors"
                                [matTooltip]="
                                    (BauteilHinzufuegenFormGroup.get('btbeschreibungkd')?.errors?.['required'] && fehlermeldung?.[50702]) || 
                                    (BauteilHinzufuegenFormGroup.get('btbeschreibungkd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes'])
                                "
                            />
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="htnrkd"
                            class="form-label col-3"
                            >Hersteller-Teile Nr.</label
                        >
                        <div class="col">
                            <input
                                id="htnrkd"
                                name="htnrkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="htnrkd"
                                [class.invalid]="this.BauteilHinzufuegenFormGroup.get('htnrkd')?.errors"
                                [matTooltip]="
                                    BauteilHinzufuegenFormGroup.get('htnrkd')?.errors?.['required'] && fehlermeldung?.[50703] || 
                                    BauteilHinzufuegenFormGroup.get('htnrkd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes']
                                "
                            />
                        </div>

                        <label 
                            for="agbtkd" 
                            class="form-label col-3 align-right"
                            >Bauteilart</label
                        >
                        <div class="col">
                            <select
                                id="agbtkd"
                                name="agbtkd"
                                type="text"
                                class="form-select form-select-sm"
                                formControlName="agbtkd"
                            >
                                <option *ngFor="let x of agbtkd" [value]="x.value"> {{x.name}} </option>
                                <!-- [selected]="x?.standard" rausgenommen, durch [selected] wird der Wert der Variable im dropdown als default value verwende -->
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="htnhkd"
                            class="form-label col-3"
                            >Hersteller</label
                        >
                        <div class="col">
                            <input
                                id="htnhkd"
                                name="htnhkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="htnhkd"
                            />
                        </div>

                        <label 
                            for="agbskd" 
                            class="form-label col-3 align-right"
                            >Beistellung</label
                        >
                        <div class="col">
                            <select
                                id="agbskd"
                                name="agbskd"
                                type="text"
                                class="form-select form-select-sm"
                                formControlName="agbskd"
                            >
                                <option *ngFor="let x of agbskd" [value]="x.value"> {{x.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="SuchLieferant"
                            class="form-label col-3"
                            >Suche Lieferant</label
                        >
                        <div class="col">
                            <select
                                id="SuchLieferant"
                                name="SuchLieferant"
                                class="form-select form-select-sm"
                                formControlName="linr"
                                (change)="lieferant_change($event)"
                            >
                                <option [value]="undefined" selected>  </option>
                                <option *ngFor="let x of linamekd" [value]="x['LINR']"> {{x.LieferantKurz}} </option>
                            </select>
                        </div>

                        <label 
                            for="aglakd" 
                            class="form-label col-3 align-right"
                            >Lief.B.Auswahl</label
                        >
                        <div class="col">
                            <select
                                id="aglakd"
                                name="aglakd"
                                class="form-select form-select-sm"
                                formControlName="aglakd"
                            >
                                <option *ngFor="let x of aglakd" [value]="x.value"> {{x.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label 
                            for="btnrlikd" 
                            class="form-label col-3"
                            >Lieferanten-Teile Nr.</label
                        >
                        <div class="col">
                            <input
                                id="btnrlikd"
                                name="btnrlikd"
                                class="form-control form-select-sm"
                                formControlName="btnrlikd"
                                [class.invalid]="this.BauteilHinzufuegenFormGroup.get('btnrlikd')?.errors"
                                [matTooltip]="
                                    BauteilHinzufuegenFormGroup.get('btnrlikd')?.errors?.['required'] && fehlermeldung?.[50706] || 
                                    BauteilHinzufuegenFormGroup.get('btnrlikd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes']
                                "
                            >
                        </div>

                        <label 
                            for="aghakd" 
                            class="form-label col-3 align-right"
                            >Herst.Auswahl</label
                        >
                        <div class="col">
                            <select
                                id="aghakd"
                                name="aghakd"
                                class="form-select form-select-sm"
                                formControlName="aghakd"
                            >
                                <option *ngFor="let x of aghakd" [value]="x.value"> {{x.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label 
                            for="linamekd" 
                            class="form-label col-3"
                            >Lieferant</label
                        >
                        <div class="col">
                            <input
                                id="linamekd"
                                name="linamekd"
                                class="form-control form-select-sm"
                                formControlName="linamekd"
                                [class.invalid]="this.BauteilHinzufuegenFormGroup.get('linamekd')?.errors"
                                [matTooltip]="
                                    BauteilHinzufuegenFormGroup.get('linamekd')?.errors?.['required'] && fehlermeldung?.[50705] || 
                                    BauteilHinzufuegenFormGroup.get('linamekd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes']
                                "
                            >
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="anlagezeitpunkt"
                            class="form-label col-3 transparent"
                            >Anlagezeitpunkt</label
                        >
                        <div class="col">
                            <input
                                id="anlagezeitpunkt"
                                name="anlagezeitpunkt"
                                type="text"
                                class="form-control form-select-sm transparent"
                                disabled
                            />
                        </div>

                        <label
                            for="LetzteAenderung"
                            class="form-label col-3 align-right transparent"
                            >Letzte Änderung</label
                        >
                        <div class="col">
                            <input
                                id="LetzteAenderung"
                                name="LetzteAenderung"
                                type="text"
                                class="form-control form-select-sm transparent"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="btbemerkungkd"
                            class="form-label col-3"
                            >Bauteil-Bemerkungen</label
                        >
                        <div class="col">
                            <input
                                id="btbemerkungkd"
                                name="btbemerkungkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="btbemerkungkd"
                            />
                        </div>
                    </div>

                    <div class="row m-2 align-items-center gap-1 margin_left_0 margin_right_0">
                        <button
                            type="button" 
                            class="btn btn-secondary col-2"
                            (click)="zurueck()"
                        >
                            Abbrechen
                        </button>
            
                        <div class="col"></div>
            
                        <button 
                            type="submit" 
                            class="btn btn-success col-2" 
                            [disabled]="BauteilHinzufuegenFormGroup.invalid"
                        >
                            Anlegen
                        </button>
                    </div>
                </form>
            </div>
        </mat-step>
      </mat-stepper>

    

        
    <br>

</div>