$erste_primary_farbe: rgb(0, 161, 170);
$zweite_primary_farbe: rgb(1, 47, 63);
$erste_primary_farbe_75: rgb(0, 161, 170, 0.75);
$zweite_primary_farbe_75: rgb(1, 47, 63, 0.75);

$universell_background_farbe: linear-gradient(to bottom, $erste_primary_farbe, $zweite_primary_farbe);
$universell_background_farbe_75: linear-gradient(to bottom, $erste_primary_farbe_75, $zweite_primary_farbe_75);

//$webseiten_kopf: #57b97d;
$webseiten_kopf_hintergrund: #ffffff;
$webseiten_kopf_schrift: black;
//$webseiten_fuss: #57b97d;
$webseiten_fuss: #ffffff;
$webseiten_fuss_schrift: #ffffff;

$tabellen_kopf: gray;
$tabellen_kopf_schrift: white;
$tabellen_jede_zweite_zeile: rgb(235, 235, 235);
$tabellen_zweite_zeile_hintergrund_farbe: rgb(243, 243, 243); 
$tabellen_vergleich_zweite_zeile_hintergrund_farbe: rgb(245, 245, 245); 
$tabellen_hover: rgb(199, 199, 199);

$tabellen_footer: gray;
$tabellen_footer_schrift: white;

$formular_hintergrund: rgb(184, 184, 184);
$formular_hintergrund_alternativ: rgb(209, 209, 209);
$formular_schrift: black;

$view_schrift_farbe: white;
$view_hintergrund_farbe: $universell_background_farbe;

$btn_success_background_farbe: $universell_background_farbe;
$btn_success_background_farbe_75: $universell_background_farbe_75;
$btn_success_schrift_farbe: white;

$btn_danger_background_farbe: linear-gradient(to bottom, rgb(220, 53, 69), rgb(83, 20, 26));
$btn_danger_background_farbe_75: linear-gradient(to bottom, rgb(220, 53, 69, 0.75), rgba(83, 20, 26, 0.75));
$btn_danger_schrift_farbe: white;

$btn_secondary_background_farbe: linear-gradient(to bottom, rgb(135, 145, 153), rgb(51, 56, 59));
$btn_secondary_background_farbe_75: linear-gradient(to bottom, rgba(135, 145, 153, 0.75), rgb(51, 56, 59, 0.75));
$btn_secondary_schrift_farbe: white;