// Bootstrap Validation bearbeiten
.deaktiviere_valid_and_invalid_aussehen {
  border: 1px solid #000000 !important;
}

.was-validated .form-control:valid {
  background-image: none;
}

.was-validated .form-select:valid:not([multiple]):not([size]){
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.25rem center ;
}

.disabled-button{
  background-color: #6c757d;
  border-color: #6c757d;
}

.Button_in_einer_Tabellen_Spalte {
  border: 0px; 
  margin: 0px; 
  padding: 5px 9px;
  
  div {
    font-size: 0.8em; 
    font-weight: 700; 
    line-height: 1; 
    white-space: nowrap;
  }
}

// Für Formularfelder, die fehlerhaft sind
.fehler_markiert {
  background-color: #dc3545;
  color: white;
  
  &:hover{
    background-color: #dc35468f !important;
    color: white !important;
  }
}
.markiert {
  background-color: #fff3cd !important;
}
.invalid {
  border: 2px solid red !important;
}

.disabled-button{
  background-color: #6c757d;
  border-color: #6c757d;
}

/// Angular Validation bearbeiten
.ng-valid[required], .ng-valid.required  {
  border: 2px solid #42A948; // green 
}

.ng-invalid:not(form, div)  {
  border: 2px solid red; // red
}
