@import "./_farbpallete.scss";

/// Für die Formulare
.container-xl{
  max-width: 90vw;
  margin-left: 5%;
  margin-right: 5%;
}

.background-anpassen {
  background-color: $formular_hintergrund !important;
}

.box-anpassen {
  padding-top: 5px;
  padding-bottom: 1px;
  &:not(.bestellung){
    background-color: $formular_hintergrund;
  }
  color: $formular_schrift;

//  border: solid 1px rgba(0, 0, 0, 0.5);
  border: solid 0px rgba(0, 0, 0, 0);
}

.margin_right_0 {
  margin-right: 0% !important;
}

.margin_left_0 {
  margin-left: 0% !important;
}

/// Für die Elemente Labels, Inputs, Selects und Buttons
input:not([type="radio"]), select, textarea {
  margin: 2px;
  height: 28px; 
  padding: 0rem 0.5rem; 
  border: 1px solid #000000;
}

label, input, select {
  display: inline;
}

.form-select {
  background-position: right 0.25rem center ;
}

.align-right {
  text-align: right;
}

.verkuerzen {
  height: 35px;
}

.padding-8px{
  padding-right: 8px;
}

.padding_x_3px {
  padding-top: 3px;
  padding-bottom: 3px;
}

.kompakter-50 {
  width: 50px;
}
.kompakter-75 {
  width: 75px;
}
.kompakter-100 {
  width: 100px;
}
.kompakter-150 {
  width: 150px;
}

.horizontal_center_container {
  display: flex; 
  align-items: center;
}

.vertical_center_container {
  display: flex; 
  align-items: center;
}

.vertical_center_element {
  flex: 1
}

.badge-large {
  font-size:larger; 
  padding-bottom: 5px;
}

.badge-medium {
  display: flex;
  align-items: center;

  font-size: large; 
}

.hoehe_26 {
  height: 26px;
}

.verstecken-aber-platzbehalten {
  visibility: hidden
}

.custom-mat-chip {
  border-radius: 5px !important; /* Removes the rounded corners */
}

.transparent {
  opacity: 0.5;
}

.form-check-input {
  font-size: large;
}

/// Angular Material Tabelle
.table-header {
  background-color: $tabellen_kopf;
  color:$tabellen_kopf_schrift;
}

.table-footer {
  background-color: $tabellen_footer !important;
  color: $tabellen_footer_schrift !important;
}

.sticky {
  top: 0;
  
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  
  background-color: white;

  padding-top: 10px;
  padding-bottom: 5px;
  
  z-index: 200 !important;
}

/*
.sticky-table-header {
  position: -webkit-sticky; // For Safari
  position: sticky;
  
  padding-top: 5px;
  padding-bottom: 5px;
  
  z-index: 199 !important;
}
*/

.scrollbar_top_parent {
  transform: rotateX(180deg);
  overflow-x: auto;
}

.scrollbar_top_child {
  transform: rotateX(180deg);
}

table {
  width: 100%;
//  border: solid 1px rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0);
}

tr.detail-row {
  height: 0; 
}

.element-row td {
  border-bottom-width: 0;
}

.verstecken {
  display: none;
}

.jedes_zweite_row_grau:nth-child(even) { // jedes vierte tr, denn Hintergrund verfärben
  background-color: $tabellen_jede_zweite_zeile; 
}

// Angular Material Column's
.mat-column-select,
.mat-column-expand {
  width: 10px;
  width: 10px;
}

// Sonstiges
.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.muelltonne_anpasssen {
  color: gray;
}

.main_muelltonne_anpasssen{
  color: white;
}

.muelltonne_anpasssen,
.main_muelltonne_anpasssen{
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    color: red !important;
  }
}

// Diese CSS Klassen sind für Tabellen mit 2 Zeilen (normale Zeile und eine versteckte Expanding Zeile) ausgelegt. Allgemein gelten diese für alle.
// Aber die Import Konfigurations (nur eine Zeile) und BOM Tabellen (3 Zeilen) sind ausnahmen
// Farb Änderungen müssen sowohl hier, als auch in den ausnahmen geändert werden.
  // Es sollte besser statt einer "<tr>" Selector durch eine css Klasse ersetzt werden, die halt nur :nth-child(2n+1) verwendet. Diese Klasse kann in einer Tabelle zu einem <tr> verwendet werden.
  // Wie in bestellungen.component.scss ".Graue_Zeile" oder ".Graue_Detail_Zeile"
tr:not(.table-header, .table-footer, .detail-row, .jedes_zweite_row_grau, .mehrereZeilen, .Graue_Zeile, .Graue_Detail_Zeile, .deactivate_background):nth-child(4n+3) { // jedes vierte tr, denn Hintergrund verfärben. 
  background-color: $tabellen_jede_zweite_zeile; 
}

tr.element-row:not(.expanded-row, .mehrereZeilen, .deactivate_hover):hover {
  background: $tabellen_hover;
}
tr.element-row:not(.expanded-row, .mehrereZeilen, .table-footer):active {
  background: #efefef;
}
.mat-mdc-cell { // ".mat-mdc-row" erstellt keine Linie für die "detail-row"
  //border-bottom-color: rgba(0, 0, 0, 0.5) !important;
  //border-bottom-width: 1px !important;

  border-bottom-color: rgba(0, 0, 0, 0) !important;
  border-bottom-width: 0px !important;
}

// Für Tabellen mit 3 Zeilen
.mehrereZeilen.hover {
  background: $tabellen_hover !important;
}

.mehrereZeilen:nth-child(6n+4), //Jede sechste Zeile ein Grauen Hintergrund geben. Fängt ab Zeile 4 an.
.mehrereZeilen:nth-child(6n+5) { //Jede sechste Zeile ein Grauen Hintergrund geben. Fängt ab Zeile 5 an.
  background-color: $tabellen_jede_zweite_zeile; 
}

// Falls "alternatives Bauteil Verfügbar" wird zwischen der "soll" und "ist" Zeile eine hellere Linie erstellt.
.zwei_zeilen.ersteZeile .mat-mdc-cell { 
  //border-bottom-color: rgba(100, 100, 100, 0.5) !important;
  //border-bottom-width: 1px !important;

  border-bottom-color: rgba(100, 100, 100, 0) !important;
  border-bottom-width: 0px !important;
}

// Falls "alternatives Bauteil Verfügbar" wird zwischen der "soll" und "ist" Zeile eine hellere Linie erstellt.
.vergleich_zweite_zeile_hintergrund_farbe { 
  background-color: $tabellen_jede_zweite_zeile !important;
}

.zweite_zeile_hintergrund_farbe {
  background-color: $tabellen_zweite_zeile_hintergrund_farbe !important;
}