<br>
<br>
<br>
<br>

@if(bereit){
  <div class="container-xl">
    @if (neues_projekt) {
      <h3> Alternatives Bauteil suchen </h3>
  
      <mpl-navigation [neues_projekt]="true" [position]="3" [bgnr]="bgnr" [name]="bgnrkd"
      ></mpl-navigation>
    }@else if (neuer_auftrag) {
      <h3> Alternatives Bauteil suchen </h3>
  
      <mpl-navigation [neuer_auftrag]="true" [position]="2" [bgnr]="bgnr" [name]="bgnrkd"
      ></mpl-navigation>
    }@else {
      <h3> Alternatives Bauteil suchen </h3>
      
      <mpl-navigation [baugruppen]="true" [position]="4" [bgnr]="bgnr" [name]="bgnrkd"
      ></mpl-navigation>
    }
    <div class="sticky">
      <mpl-ladebalken [falsches_laden_beginnen]="loading_unsere_vorschlaege || loading_AlternativeAngebenBaugruppe"></mpl-ladebalken>
  
      <div class="row">
        <h4 class="col"> Ihre Bauteildaten </h4>
      </div>
  
      <div class="row">
        <div class="col badge-large">
          <span class="badge rounded-pill text-bg-secondary">
            POS: {{ bauteil?.bompos ?? "" }}
          </span>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <h6> Bauteil-Beschreibung </h6> 
          <p> {{ bauteil?.btbeschreibungkd }} </p>
        </div>
        <div class="col">
          <h6> Hersteller-Teile Nr. </h6> 
          <p> {{ bauteil?.htnrkd }} </p>
        </div>
        <div class="col">
          <h6> Lieferanten-Teile Nr. </h6> 
          <p> {{ bauteil?.btnrlikd }} </p>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <h6> Bauteil-Bemerkung </h6> 
          <p> {{ bauteil?.btbemerkungkd }} </p>
        </div>
        <div class="col">
          <h6> Hersteller </h6> 
          <p> {{ bauteil?.htnhkd }} </p>
        </div>
        <div class="col">
          <h6> Lieferant </h6> 
          <p> {{ bauteil?.linamekd }} </p>
        </div>
      </div>

      <mat-divider></mat-divider>
      <br>
  
      <div class="row">
        <h4 class="col"> Ist-Suchergebnis </h4>
      </div>
      <div class="row">
        <div class="col">
          <h6> Lieferzeit </h6> 
          <p> {{ bauteil?.lieferZeit }} Tage </p>
        </div>
        <div class="col">
          <h6> Gesamtpreis </h6> 
          <p> {{ bauteil?.betragbeschaffungsmenge | currency:'EUR':'symbol':'1.2-2':'de-DE' }} </p>
        </div>
        <div class="col">
  
        </div>
      </div>
      
    </div>
  
    <mat-divider></mat-divider>

    <br>

    <h4> Suchoptionen </h4>
  
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true" checked (change)="selectedRadioButton = true">
      <label class="form-check-label" for="inlineRadio1"> 1: Unsere Vorschläge </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false" (change)="selectedRadioButton = false">
      <label class="form-check-label" for="inlineRadio2"> 2: Manuelle Suche </label>
    </div>
  
    <br>
    <br>
  
    @if(selectedRadioButton){
      <div class="row">
        <p class="col">
          Unsere Alternativen Vorschläge basieren auf ihren Vorgegebenen Bauteil-Beschreibungen, Lieferanten-Teile Nr und Hersteller-Teile Nr.
        </p>
      </div>
      <div class="row" style="padding-left: 12px; padding-right: 12px;">
        <button 
          type="button"
          class="btn btn-secondary col-2" 
          (click)="zurueck()"
        >Abbrechen</button>

        <div class="col"></div>

        <button
          type="button"
          class="btn btn-success col-2"
          (click)="AutomatischeSucheAlternativeBauteile()"
          [disabled]="loading_unsere_vorschlaege"
        >
          @if(loading_unsere_vorschlaege){
            Bitte warten ...
          }@else{
            @if(gestartet_unsere_vorschlaege){
              erneut starten
            }@else{
              Suche starten
            }
          }
        </button>
      </div>  
        
      <br>
      
      <div>
        @if (gestartet_unsere_vorschlaege) {
          @if ( loading_unsere_vorschlaege) {
            <div style="
              display: flex;
              justify-content: center;
              align-items: center;
              height: 25vh;
            ">
              <mat-spinner></mat-spinner>
            </div>
          }@else{
            <h5> Hinweis </h5>
  
            @if (alternative_bauteile_tabelle_daten.length > 0) {
              <!-- Tabelle mit "Unsere Vorschläge" Daten -->
              <mpl-ergebnis-tabelle 
                [ergebnis_bauteile]="alternative_bauteile_tabelle_daten"
                [gesamtmenge]="baugruppenmenge * (bauteil ? bauteil.anzprobgkomp : 1)"
                (bauteil_ausgewaehlt)="AlternativesBauteilSpeichern($event)"
              ></mpl-ergebnis-tabelle>
            }@else {
              <p>
                Es konnten keine Alternativen Bauteile gefunden werden. <br>
                Versuchen Sie mit anderen Bauteildaten zu suchen. <br>
                Geben sie die Daten in "Manuellen Suche" ein.   
              </p>
            }
          }
        }
      </div>
    }@else{
      <mpl-globale-bauteil-suche 
        [neues_projekt]="neues_projekt" 
        [linamekd]="linamekd" 
        [btnr]="bauteil.btnr"
        [bgnr]="bgnr"
        [methode]="methode_baugruppe"
        [gesamtmenge]="baugruppenmenge * (bauteil ? bauteil.anzprobgkomp : 1)"
        (lade_status)="lade_status_aktualisieren($event)"
        (bauteil_ausgewaehlt)="AlternativesBauteilSpeichern($event)" 
        (abbrechen)="zurueck()"
      ></mpl-globale-bauteil-suche>
    }
  
    <br>
  
      
  
    <br>
  
  </div>
}@else {
  <mpl-grosser-spinner></mpl-grosser-spinner>
}