<br>

  <div class="container-xl">

    <h3> My Leiterplatte </h3>
    @if(bereit){
      @if (neues_projekt) {
        <mpl-navigation [neues_projekt]="true" [position]="2" [bgnr]="bgnr">
        </mpl-navigation>
      }@else if(neuer_auftrag) {
        <mpl-navigation [neuer_auftrag]="true" [position]="1" [bgnr]="bgnr" [name]="bgnrkd"
        ></mpl-navigation>
      }@else if(auftrag){
        <mpl-navigation [auftraege]="true" [position]="1" [bgnr]="bgnr" [aunr]="aunr" [name]="aunr"
        ></mpl-navigation>
      }@else if(bestellung){
        <mpl-navigation [bestellung]="true" [position]="0" [bgnr]="bgnr" [aunr]="aunr"  [name]="bestellungID" [bestellungID]="bestellungID"
        ></mpl-navigation>
      }@else{
        <mpl-navigation [baugruppen]="true" [position]="0" [bgnr]="bgnr" [name]="bgnrkd"
        ></mpl-navigation>
      }
    }@else{
      <h6>
        Es wird geladen.
      </h6>
    }
    <div class="sticky">
      <mpl-ladebalken [falsches_laden_beginnen]="!(bereit)"></mpl-ladebalken>

      @if(!(auftrag || bestellung)){
        @if(bereit){
          <div class="row margin_left_0 margin_right_0" style="gap: 7px;">
      <!-- Es steht in Überlegung den Button zu entfernen
          [disabled]="ng_form.form.status === 'INVALID' || button_laden"

            <button 
              id="senden" 
              class="btn btn-secondary col" 
              name="senden" 
              (click)="leiterplatteanfragen()"
              [disabled]="true"
            >
              
              Anfrage senden
            </button>
      -->
            @if(bereit){
              <button 
                id="standardkonfiguration" 
                class="btn btn-secondary col-2" 
                name="standardkonfiguration" 
                (click)="standardkonfiguration()"
                [disabled]="statuslp === LeiterplattenStatus.BEISTELLUNG"
              >
                Standardkonfiguration
              </button>
            }@else{
              <button class="btn btn-secondary col-2" disabled>
                Bitte warten
              </button>
            }

            @if(bereit && !bitte_warten_beistellung){
              @if(statuslp !== LeiterplattenStatus.BEISTELLUNG){
                <button id="beistellen" class="btn btn-secondary col-2" name="beistellen" (click)="LeiterplatteBeistellen()">
                  Beistellen
                </button>
              }@else {
                <button id="beschaffen" class="btn btn-secondary col-2" name="beschaffen" (click)="LeiterplatteBeistellenLoeschen()">
                  Beschaffen
                </button>
              }
            }@else{
              <button class="btn btn-secondary col-2" disabled>
                Bitte warten
              </button>
            }

            
            <div class="col"></div>
          
            @if(!neues_projekt && !neuer_auftrag){
              @if(bereit){
                <button 
                  type="button"
                  class="btn btn-success col-2" 
                  (click)="weiter()"
                  [disabled]="button_laden || statuslp === LeiterplattenStatus.BEISTELLUNG"
                >
                  <!-- Wenn die Leiterplatte nicht mehr durch IBR geprüft wird, sondern in Angular, können die beiden Attribute wieder zum oberen Button eingefügt werden!
                    [disabled]="ng_form.form.status === 'INVALID' || button_laden"
                  -->
                  Speichern
                </button>
              }@else{
                <button class="btn btn-secondary col-2" disabled>
                  Bitte warten
                </button>
              }
            }@else{
              <div class="col"></div>
            }
          </div>
        }
      }
    </div>

    @if (bereit) {
      @if(statuslp !== LeiterplattenStatus.BEISTELLUNG){
        <br>

        @if(ibr_fehler_response){
          <mpl-fehlermeldungen [data]="ibr_fehler_response">
          </mpl-fehlermeldungen>

          <br>
        }

        <form class="box-anpassen" #ng_form="ngForm" #html_form>
          <fieldset [disabled]="auftrag || bestellung">
            <h5>Baugruppendaten</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="bgnrkd" class="form-label">Baugruppe</label>
                <input id="bgnrkd"
                  name="bgnrkd"
                  type="text"
                  class="form-control form-select-sm"
                  [(ngModel)]="form['bgnrkd']"
                  disabled>
              </div>
              <div class="col-2">
                <label for="bgrevisionkd" class="form-label">BG-Reversion</label>
                <input id="bgrevisionkd"
                  name="bgrevisionkd"
                  type="text"
                  class="form-control form-select-sm"
                  [(ngModel)]="form['bgrevisionkd']"
                  disabled>
              </div>
              <div class="col-2">
                <label for="bgbezeichnungkd" class="form-label">BG-Beschreibung</label>
                <input id="bgbezeichnungkd"
                  name="bgbezeichnungkd"
                  type="text"
                  class="form-control form-select-sm"
                  [(ngModel)]="form['bgbezeichnungkd']"
                  disabled>
              </div>
            </div>

            <br>
            <h5>Leiterplattendaten</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="lpbtnrkd" class="form-label">Nr.</label>
                <input id="lpbtnrkd"
                  name="lpbtnrkd"
                  type="text"
                  class="form-control form-select-sm"
                  [(ngModel)]="form['lpbtnrkd']"
                  disabled>
              </div>
              <div class="col-2">
                <label for="letzteaenderungzpkt" class="form-label">Letzte Änderung</label>
                <input
                  id="letzteaenderungzpkt"
                  name="letzteaenderungzpkt"
                  type="text"
                  class="form-control form-select-sm align-right"
                  [(ngModel)]="form['letzteaenderungzpkt']"
                  disabled
                />
              </div>
              <div class="col-2">
                <label for="lprevisionkd" class="form-label">LP-Reversion</label>
                <input
                  id="lprevisionkd"
                  name="lprevisionkd"
                  type="text"
                  class="form-control form-select-sm"
                  [(ngModel)]="form['lprevisionkd']"
                />
              </div>
              <div class="col-2">
                <label for="lpbemerkungkd" class="form-label">LP-Bemerkung</label>
                <input
                  id="lpbemerkungkd"
                  name="lpbemerkungkd"
                  type="text"
                  class="form-control form-select-sm"
                  [(ngModel)]="form['lpbemerkungkd']"
                  disabled
                />
              </div>
            </div>

            <br>
            <h5>Abmessung der Leiterplatte</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-3">
                <label for="nutzenTyp" class="form-label">Nutzentyp</label>
                <select
                  class="form-select col"
                  name="nutzenTyp"
                  id="nutzenTyp"
                  [(ngModel)]="form['nutzenTyp']"
                  (change)="nutzentypGeaendert_FelderZuruecksetzen()"
                >
                  <option
                    *ngFor="let field of formFields?.nutzentyp"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="form['nutzenTyp'] == '0'">
              <div class="col-2">
                <label for="breite" class="form-label">Leiterplatten Breite (mm)</label>
                <input
                  id="breite"  
                  name="breite"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['breite']"
                  required

                  #breite="ngModel"
                  [matTooltip]="
                    breite.errors?.['required'] && input_meldungen_json['required-breite'] || 
                    breite.errors?.['etwas anderes'] && input_meldungen_json['']
                  "
                />
              </div>
              <div class="col-2">
                <label for="laenge" class="form-label">Leiterplatten Länge (mm)</label>
                <input
                  id="laenge"
                  name="laenge"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['laenge']"
                  required

                  #laenge="ngModel"
                  [matTooltip]="
                    laenge.errors?.['required'] && input_meldungen_json['required-laenge']
                  "
                />
              </div>
            </div>
            <div class="row" *ngIf="form['nutzenTyp'] == '1'">
              <div class="col-2">
                <label for="breiteeinzel" class="form-label">Nutzenbreite (mm)</label>
                <input
                  id="breiteeinzel"
                  name="breiteeinzel"
                  type="number"
                  class="form-control"

                  [(ngModel)]="form['breiteeinzel']"
                />
              </div>
              <div class="col-2">
                <label for="laengeeinzel" class="form-label">Nutzenlänge (mm)</label>
                <input
                  id="laengeeinzel"
                  name="laengeeinzel"
                  type="number"
                  class="form-control"

                  [(ngModel)]="form['laengeeinzel']"
                />
              </div>
              <div class="col-2">
                <label for="nutzenzahl" class="form-label">Anzahl der Leiterplatten im Nutzen</label>
                <input
                  id="nutzenzahl"
                  name="nutzenzahl"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['nutzenzahl']"
                />
              </div>
              <div class="col-2">
                <label for="ritzen" class="form-label"> Ritzen</label>
                <select
                  id="ritzen"
                  name="ritzen"
                  type="text"
                  class="form-select"
                  [(ngModel)]="form['ritzen']"
                >
                  <option
                    *ngFor="let field of formFields?.ritzen"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name}}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="sprungritzen" class="form-label"> Sprungritzen</label>
                <select
                  id="sprungritzen"
                  name="sprungritzen"
                  type="text"
                  class="form-select"
                  [(ngModel)]="form['sprungritzen']"
                >
                  <option
                    *ngFor="let field of formFields?.sprungritzen"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name}}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="fraesen" class="form-label">Fräsen</label>
                <select
                  id="fraesen"
                  name="fraesen"
                  class="form-select"
                  [(ngModel)]="form['fraesen']"
                >
                  <option
                    *ngFor="let field of formFields?.fraesen"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="nutzenkeinexout" class="form-label"> Keine X-Out im Nutzen</label>
                <input
                  id="nutzenkeinexout"
                  name="nutzenkeinexout"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['nutzenkeinexout']"
                />
              </div>
              <div class="col-2">
                <label for="nutzenaufbau" class="form-label"> Nutzenaufbau</label>
                <input
                  id="nutzenaufbau"
                  name="nutzenaufbau"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['nutzenaufbau']"
                />
              </div>

              <div class="col-2">
                <label for="fraesdurchmesser" class="form-label"> Fräsdurchmesser</label>
                <input
                  id="fraesdurchmesser"
                  name="fraesdurchmesser"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['fraesdurchmesser']"
                />
              </div>
            </div>

            <br>
            <h5>Spezifikationen der Leiterplatte</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="lagen" class="form-label"> Anzahl der Lagen</label>
                <select
                  class="form-select"
                  name="lagen"
                  id="lagen"
                  [(ngModel)]="form['lagen']"
                  (change)="InterneKupferDickenAnzeigen()"
                  required
                >
                  <option
                    *ngFor="let field of formFields?.lagen"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="lptyp" class="form-label"> Leiterplattentyp</label>
                <select
                  class="form-select"
                  name="lptyp"
                  id="lptyp"
                  [(ngModel)]="form['lptyp']"
                >
                  <option 
                    *ngFor="let field of formFields?.lptyp" 
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="finish" class="form-label"> Oberflächen-Finish</label>
                <select
                  class="form-select"
                  name="finish"
                  id="finish"
                  [(ngModel)]="form['finish']"
                >
                  <option
                    *ngFor="let field of formFields?.finish"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="hartgold" class="form-label"> Hartgold</label>
                <input
                  id="hartgold"
                  name="hartgold"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['hartgold']"
                />
              </div>

              <div class="col-2">
                <label for="goldarea" class="form-label"> GoldArea</label>
                <input
                  id="goldarea"
                  name="goldarea"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['goldarea']"
                />
              </div>
              <div class="col-2">
                <label for="material" class="form-label">Basismaterial</label>
                <select
                  class="form-select col"
                  name="material"
                  id="material"
                  [(ngModel)]="form['material']"
                >
                  <option
                    *ngFor="let field of formFields?.material"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="materialhalogenfrei" class="form-label"> MaterialHalogenFrei</label>
                <select
                  id="materialhalogenfrei"
                  name="materialhalogenfrei"
                  type="text"
                  class="form-select"
                  [(ngModel)]="form['materialhalogenfrei']"
                >
                  <option
                    *ngFor="let field of formFields?.materialhalogenfrei"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name}}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="dicke" class="form-label">Leiterplattendicke (mm)</label>
                <select
                  class="form-select"
                  name="dicke"
                  id="dicke"
                  [(ngModel)]="form['dicke']"
                >
                  <option
                    *ngFor="let field of formFields?.dicke"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="dickeenddicke" class="form-label"> DickeEnddicke</label>
                <input
                  id="dickeenddicke"
                  name="dickeenddicke"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['dickeenddicke']"
                />
              </div>
              <div class="col-2">
                <label for="dickeenddickemax" class="form-label"> DickeEnddickeMax</label>
                <input
                  id="dickeenddickemax"
                  name="dickeenddickemax"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['dickeenddickemax']"
                />
              </div>
              <div class="col-2">
                <label for="ipcklasse" class="form-label">IPC-Klasse</label>
                <select
                  class="form-select"
                  name="ipcklasse"
                  id="ipcklasse"
                  [(ngModel)]="form['ipcklasse']"
                >
                  <option
                    *ngFor="let field of formFields?.ipcklasse"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="etest" class="form-label">E-Test</label>
                <select
                  class="form-select"
                  name="etest"
                  id="etest"
                  [(ngModel)]="form['etest']"
                >
                  <option
                    *ngFor="let field of formFields?.etest"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>

            <br>
            <h5>Lackierung</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="pd" class="form-label">Positionsdruck</label>
                <select
                  class="form-select"
                  name="pd"
                  id="pd"
                  [(ngModel)]="form['pd']"
                >
                  <option
                    *ngFor="let field of formFields?.pd"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="pdfarbe" class="form-label">Positionsdruck Farbe</label>
                <select
                  class="form-select"
                  name="pdfarbe"
                  id="pdfarbe"
                  [(ngModel)]="form['pdfarbe']"
                >
                  <option
                    *ngFor="let field of formFields?.pdfarbe"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="ls" class="form-label">Lötstopplack</label>
                <select
                  class="form-select"
                  name="ls"
                  id="ls"
                  [(ngModel)]="form['ls']"
                >
                  <option
                    *ngFor="let field of formFields?.ls"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="lsfarbe" class="form-label">Lötstopplackfarbe</label>
                <select
                  id="lsfarbe"
                  name="lsfarbe"
                  class="form-select"
                  [(ngModel)]="form['lsfarbe']"
                >
                  <option
                    *ngFor="let field of formFields?.lsfarbe"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="lsdoppelt" class="form-label"> LSdoppelt</label>
                <select
                  id="lsdoppelt"
                  name="lsdoppelt"
                  class="form-select"
                  [(ngModel)]="form['lsdoppelt']"
                >
                  <option
                    *ngFor="let field of formFields?.lsdoppelt"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>

            <br>
            <h5>Kennzeichnung</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="ulsign" class="form-label">UL-Kennzeichnung</label>
                <select
                  class="form-select"
                  name="ulsign"
                  id="ulsign"
                  [(ngModel)]="form['ulsign']"
                >
                  <option
                    *ngFor="let field of formFields?.ulsign"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="ulkanada" class="form-label">UL-Kanada</label>
                <select
                  id="ulkanada"
                  name="ulkanada"
                  type="text"
                  class="form-select"
                  [(ngModel)]="form['ulkanada']"
                >
                  <option
                    *ngFor="let field of formFields?.ulkanada"
                    [selected]="field.standard == 1"
                    [value]="field.value"
                  >
                    {{ field.name}}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="ultype" class="form-label"> UL-Type</label>
                <input
                  id="ultype"
                  name="ultype"
                  type="number"
                  class="form-control"
                  [(ngModel)]="form['ultype']"
                />
              </div>
              <div class="col-2">
                <label for="datecode" class="form-label">Datums-Kennzeichnung</label>
                <select
                  class="form-select"
                  name="datecode"
                  id="datecode"
                  [(ngModel)]="form['datecode']"
                >
                  <option
                    *ngFor="let field of formFields?.datecode"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="rohssign" class="form-label">RoHS-Kennzeichnung</label>
                <select
                  class="form-select"
                  name="rohssign"
                  id="rohssign"
                  [(ngModel)]="form['rohssign']"
                >
                  <option
                    *ngFor="let field of formFields?.rohssign"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>

            <br>
            <h5>Layout</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="minabstaende" class="form-label">Mindest Leiterbahnabstand</label>
                <input
                  type="number"
                  class="form-control"
                  name="minabstaende"
                  id="minabstaende"
                  [(ngModel)]="form['minabstaende']"
                />
              </div>
              <div class="col-2">
                <label for="mintrack" class="form-label">Mindestgröße Leiterbahnen</label>
                <input
                  type="number"
                  class="form-control"
                  name="mintrack"
                  id="mintrack"
                  [(ngModel)]="form['mintrack']"
                />
              </div>
              <div class="col-2">
                <label for="minrestring" class="form-label">Mindestgröße Restring</label>
                <input
                  type="number"
                  class="form-control"
                  name="minrestring"
                  id="minrestring"
                  [(ngModel)]="form['minrestring']"
                />
              </div>
              <div class="col-2">
                <label for="minbohrung" class="form-label">Mindestgröße Bohrlöcher</label>
                <input
                  type="number"
                  class="form-control"
                  name="minbohrung"
                  id="minbohrung"
                  [(ngModel)]="form['minbohrung']"
                />
              </div>

              <div class="col-2">
                <label for="lagenaufbau" class="form-label">Lagenaufbau</label>
                <select
                  class="form-select"
                  name="lagenaufbau"
                  id="lagenaufbau"
                  [(ngModel)]="form['lagenaufbau']"
                >
                  <option
                    *ngFor="let field of formFields?.lagenaufbau"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>
            
            <br>
            <h5>Lagenaufbaukupferdicke</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="externekupferdicke" class="form-label">Externe Kupferdicke</label>
                <select
                  class="form-select"
                  name="externekupferdicke"
                  id="externekupferdicke"
                  [(ngModel)]="form['externekupferdicke']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferextern"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>

              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 1">
                <label  class="form-label" for="internekupferdicke1">Interne Kupferdicke 1</label>
                <select
                  class="form-select"
                  name="internekupferdicke1"
                  id="internekupferdicke1"
                  [(ngModel)]="form['internekupferdicke1']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern1"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 2">
                <label class="form-label" for="internekupferdicke2">Interne Kupferdicke 2</label>
                <select
                  class="form-select"
                  name="internekupferdicke2"
                  id="internekupferdicke2"
                  [(ngModel)]="form['internekupferdicke2']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern2"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 3">
                <label class="form-label" for="internekupferdicke3">Interne Kupferdicke 3</label>
                <select
                  class="form-select"
                  name="internekupferdicke3"
                  id="internekupferdicke3"
                  [(ngModel)]="form['internekupferdicke3']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern3"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 4">
                <label  class="form-label" for="internekupferdicke4">Interne Kupferdicke 4</label>
                <select
                  class="form-select"
                  name="internekupferdicke4"
                  id="internekupferdicke4"
                  [(ngModel)]="form['internekupferdicke4']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern4"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 5">
                <label class="form-label" for="internekupferdicke5">Interne Kupferdicke 5</label>
                <select
                  class="form-select"
                  name="internekupferdicke5"
                  id="internekupferdicke5"
                  [(ngModel)]="form['internekupferdicke5']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern5"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 6">
                <label class="form-label" for="internekupferdicke6">Interne Kupferdicke 6</label>
                <select
                  class="form-select"
                  name="internekupferdicke6"
                  id="internekupferdicke6"
                  [(ngModel)]="form['internekupferdicke6']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern6"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 7">
                <label class="form-label" for="internekupferdicke7">Interne Kupferdicke 7</label>
                <select
                  class="form-select"
                  name="internekupferdicke7"
                  id="internekupferdicke7"
                  [(ngModel)]="form['internekupferdicke7']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern7"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 8">
                <label class="form-label" for="internekupferdicke8">Interne Kupferdicke 8</label>
                <select
                  class="form-select"
                  name="internekupferdicke8"
                  id="internekupferdicke8"
                  [(ngModel)]="form['internekupferdicke8']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern8"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 9">
                <label  class="form-label" for="internekupferdicke9">Interne Kupferdicke 9</label>
                <select
                  class="form-select"
                  name="internekupferdicke9"
                  id="internekupferdicke9"
                  [(ngModel)]="form['internekupferdicke9']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern9"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 10">
                <label class="form-label" for="internekupferdicke10">Interne Kupferdicke 10</label>
                <select
                  class="form-select"
                  name="internekupferdicke10"
                  id="internekupferdicke10"
                  [(ngModel)]="form['internekupferdicke10']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern10"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 11">
                <label class="form-label" for="internekupferdicke11">Interne Kupferdicke 11</label>
                <select
                  class="form-select"
                  name="internekupferdicke11"
                  id="internekupferdicke11"
                  [(ngModel)]="form['internekupferdicke11']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern11"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2" *ngIf="anzahl_interne_kupferdicke >= 12">
                <label class="form-label" for="internekupferdicke12">Interne Kupferdicke 12</label>
                <select
                  class="form-select"
                  name="internekupferdicke12"
                  id="internekupferdicke12"
                  [(ngModel)]="form['internekupferdicke12']"
                >
                  <option
                    *ngFor="let field of formFields?.kupferintern12"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>

            <br>
            <h5>Spezifische Optionen</h5>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-2">
                <label for="materialctiwert" class="form-label">Material CTI Wert</label>
                <select
                  class="form-select"
                  name="materialctiwert"
                  id="materialctiwert"
                  [(ngModel)]="form['materialctiwert']"
                >
                  <option
                    *ngFor="let field of formFields?.materialctiwert"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="zachsenfraesen" class="form-label">Z-Achsen Fräsen</label>
                <select
                  class="form-select"
                  name="zachsenfraesen"
                  id="zachsenfraesen"
                  [(ngModel)]="form['zachsenfraesen']"
                >
                  <option
                    *ngFor="let field of formFields?.zachsenfraesen"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="zachsenfraesentiefe" class="form-label">Z-Achsen Fräsen Tiefe</label>
                <select
                  class="form-select"
                  name="zachsenfraesentiefe"
                  id="zachsenfraesentiefe"
                  [(ngModel)]="form['zachsenfraesentiefe']"
                >
                  <option
                    *ngFor="let field of formFields?.zachsenfraesentiefe"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="fasung" class="form-label">Fasung</label>
                <select
                  class="form-select"
                  name="fasung"
                  id="fasung"
                  [(ngModel)]="form['fasung']"
                >
                  <option *ngFor="let field of formFields?.fasung" [value]="field.value">
                    {{ field.name }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="senkungen" class="form-label">Senkungen</label>
                <select
                  class="form-select"
                  name="senkungen"
                  id="senkungen"
                  [(ngModel)]="form['senkungen']"
                >
                  <option
                    *ngFor="let field of formFields?.senkungen"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="viatyp" class="form-label">Via Typ</label>
                <select
                  class="form-select"
                  name="viatyp"
                  id="viatyp"
                  [(ngModel)]="form['viatyp']"
                >
                  <option *ngFor="let field of formFields?.viatyp" [value]="field.value">
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="viafill" class="form-label">Via Füllung</label>
                <input
                  type="number"
                  class="form-control"
                  name="viafill"
                  id="viafill"
                  [(ngModel)]="form['viafill']"
                />
              </div>
              <div class="col-2">
                <label for="blindvias" class="form-label">Anzahl Blind Vias</label>
                <input
                  type="number"
                  class="form-control"
                  name="blindvias"
                  id="blindvias"
                  [(ngModel)]="form['blindvias']"
                />
              </div>

              <div class="col-2">
                <label for="buriedvias" class="form-label">Anzahl Buried Vias</label>
                <input
                  type="number"
                  class="form-control"
                  name="buriedvias"
                  id="buriedvias"
                  [(ngModel)]="form['buriedvias']"
                />
              </div>
              <div class="col-2">
                <label for="anzahlbohrungen" class="form-label">Anzahl Bohrungen</label>
                <input
                  type="number"
                  class="form-control"
                  name="anzahlbohrungen"
                  id="anzahlbohrungen"
                  [(ngModel)]="form['anzahlbohrungen']"
                />
              </div>
              <div class="col-2">
                <label for="etesttestpunkte" class="form-label">Anzahl ETestTestPunkte</label>
                <input
                  type="number"
                  class="form-control"
                  name="etesttestpunkte"
                  id="etesttestpunkte"
                  [(ngModel)]="form['etesttestpunkte']"
                />
              </div>
              <div class="col-2">
                <label for="padstop" class="form-label">Anzahl Pads Top</label>
                <input
                  type="number"
                  class="form-control"
                  name="padstop"
                  id="padstop"
                  [(ngModel)]="form['padstop']"
                />
              </div>

              <div class="col-2">
                <label for="padsbot" class="form-label">Anzahl Pads Bot</label>
                <input
                  type="number"
                  class="form-control"
                  name="padsbot"
                  id="padsbot"
                  [(ngModel)]="form['padsbot']"
                />
              </div>
              <div class="col-2">
                <label for="peeling" class="form-label">Abziehlack</label>
                <select
                  class="form-select"
                  name="peeling"
                  id="peeling"
                  [(ngModel)]="form['peeling']"
                >
                  <option
                    *ngFor="let field of formFields?.peeling"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="peelingart" class="form-label">Abziehlackart</label>
                <input
                  type="number"
                  class="form-control"
                  name="peelingart"
                  id="peelingart"
                  [(ngModel)]="form['peelingart']"
                />
              </div>
              <div class="col-2">
                <label for="carbon" class="form-label">Karbondruck</label>
                <select
                  class="form-select"
                  name="carbon"
                  id="carbon"
                  [(ngModel)]="form['carbon']"
                >
                  <option
                    *ngFor="let field of formFields?.carbon"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="kantenverzinnung" class="form-label">Kantenmetallisierung</label>
                <select
                  class="form-select"
                  name="kantenverzinnung"
                  id="kantenverzinnung"
                  [(ngModel)]="form['kantenverzinnung']"
                >
                  <option
                    *ngFor="let field of formFields?.kantenverzinnung"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="pressfit" class="form-label">Press-Fit</label>
                <select
                  class="form-select"
                  name="pressfit"
                  id="pressfit"
                  [(ngModel)]="form['pressfit']"
                >
                  <option
                    *ngFor="let field of formFields?.pressfit"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="spulentechnik" class="form-label">Spulentechnik</label>
                <select
                  class="form-select"
                  name="spulentechnik"
                  id="spulentechnik"
                  [(ngModel)]="form['spulentechnik']"
                >
                  <option
                    *ngFor="let field of formFields?.spulentechnik"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="dkschlitze" class="form-label">Durchkontaktierte Schlitze</label>
                <select
                  class="form-select"
                  name="dkschlitze"
                  id="dkschlitze"
                  [(ngModel)]="form['dkschlitze']"
                >
                  <option
                    *ngFor="let field of formFields?.dkschlitze"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="stiffener" class="form-label">Stiffener</label>
                <select
                  class="form-select"
                  name="stiffener"
                  id="stiffener"
                  [(ngModel)]="form['stiffener']"
                >
                  <option
                    *ngFor="let field of formFields?.stiffener"
                    [value]="field.value"
                  >
                    {{ field.name }}
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
      }@else {
        <mpl-leiterplatte-beigestellt></mpl-leiterplatte-beigestellt>
      }
      
      <br>
    
      <div class="row margin_right_0 margin_left_0" style="gap: 7px;">
        <!--
        <button 
          type="button"
          class="btn btn-secondary col-2" 
          (click)="zurueck()"
        >
          Zurück
        </button>
        -->

        <mpl-pfeil-links class="col-auto" (click_event)="zurueck()"></mpl-pfeil-links>

        <div class="col"></div>
        
        @if(neues_projekt || neuer_auftrag){
          <!--
          <button 
            type="button"
            class="btn btn-success col-2" 
            (click)="weiter()"
            [disabled]="button_laden"
          >
            @if (button_laden) {
              Bitte kurz warten
            }@else{
              Weiter
            }
          </button>
          -->
          <mpl-pfeil-rechts class="col-auto" (click_event)="weiter()" [disabled]="button_laden"></mpl-pfeil-rechts>
        }@else {
          <div class="col"></div>
        }
      </div>

    } @else {
      <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
      ">
        <mat-spinner></mat-spinner>
      </div>
    }

    <br>

    <div *ngIf="angebot" class="row card text-bg-success">
      <h1>Angebot</h1>
      <h6>Angebotsnummer: {{ angebot.id }}</h6>
      <div *ngFor="let preis of angebot.prices">
        <h6>
          <span *ngIf="preis.express">Express </span>Lieferzeit:
          {{ preis.deliverytime }}
        </h6>
        <h6>
          <span *ngIf="preis.express">Express </span>Preis: {{ preis.price }}
        </h6>
        <h6>
          <span *ngIf="preis.express">Express </span>Menge: {{ preis.quantity }}
        </h6>
      </div>
    </div>
    
  </div>
