<h1 mat-dialog-title>
  <div style="display: flex; justify-content: space-between;">
    <span>
      Angebot Nr: 276 vom {{ heute | date:'dd.MM.yyyy' }}
    </span>
    
    <mpl-button-close (click_event)="abbrechen()"></mpl-button-close>
  </div>
</h1>
<div mat-dialog-content>
  <div style="min-width: 850px;">
    @if(pdf){
      <ngx-extended-pdf-viewer
        [src]="pdf"

        pageViewMode="infinite-scroll"

        backgroundColor="#ffffff"

        [handTool]="false"
        [showPagingButtons]="false"
        [showHandToolButton]="false"
        [showDrawEditor]="false"
        [showHighlightEditor]="false"
        [showStampEditor]="false"
        [showTextEditor]="false"
        [showOpenFileButton]="false"
        [showRotateButton]="false"
        [showScrollingButtons]="false"
        [showSpreadButton]="false"
        [showPropertiesButton]="false"
        [propertiesDialogVisible]="false"
      >
      </ngx-extended-pdf-viewer>
    }@else{
      <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        ">
          <mat-spinner></mat-spinner>
      </div>
      <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        ">
          <h5>
            Die PDF wird in Kürze angezeigt.
          </h5>
      </div>
    }
  </div>
</div>