<div>
  <!-- Suchfelder -->
  <div 
    class="sticky background-anpassen" 
    [class.sticky]="sticky"
    [class.background-anpassen]="background_anpassen"
  >
    <div class="row" style="padding-bottom: 5px; max-width: 100%;">
      <div class="col">
        <h5> Suche </h5>
      </div>
    </div>

    <div class="row" style="padding-bottom: 5px;">
      <p> Füllen Sie mindestens eines oder mehrere Suchfelder aus. </p>
    </div>

    <div class="row" style="padding-bottom: 5px;">
      <form class="col" [formGroup]="form_bauteilbeschreibung">
        <div class="row">
          <div class="col">
            <label class="form-label">
              Mit einer Bauteil-Beschreibung suchen
            </label>
            <input class="form-control form-select-sm deaktiviere_valid_and_invalid_aussehen"
              formControlName="suche_bauteilbeschreibung">
          </div>
        </div>
      </form>
      <div class="col" [formGroup]="form_mpn">
        <div class="row">
          <div class="col">
            <label class="form-label">
              Mit einer Hersteller-Teile Nr. suchen
            </label>
            <input class="form-control form-select-sm deaktiviere_valid_and_invalid_aussehen"
              formControlName="suche_mpn">
          </div>
        </div>
      </div>
      <div class="col" [formGroup]="form_sku">
        <div class="row">
          <div class="col">
            <label class="form-label">
              Mit einer Lieferanten-Teile Nr. suchen
            </label>
            <input class="form-control form-select-sm deaktiviere_valid_and_invalid_aussehen"
              (change)="sku_check_if_empty()" formControlName="suche_sku">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select id="SuchLieferant" name="SuchLieferant"
              class="form-select form-select-sm deaktiviere_valid_and_invalid_aussehen" formControlName="linr">
              <option value="" selected> Mit allen Lieferanten suchen </option>
              <option *ngFor="let x of linamekd" [value]="x['LINR']"> {{x.LieferantKurz}} </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Der ausgewählte Lieferant schränkt nur die Lieferanten-Teile Nr. ein.
          </div>
        </div>
      </div>
    </div>

    <div class="row m-2 align-items-center gap-1 margin_left_0 margin_right_0" style="padding-bottom: 5px;">
      <button type="button" class="btn btn-secondary col-2" (click)="beenden()">
          Abbrechen
      </button>
      
      <div class="col"></div>

      <button type="button" class="btn btn-success col-2" (click)="ManuelleSucheAlternativeBauteile()"
        [disabled]="
          loading_such_ergebnis
          || (form_bauteilbeschreibung.invalid && form_mpn.invalid && form_sku.invalid)
        ">
          @if(loading_such_ergebnis){
            Bitte warten
          }@else {
            Suchen
          }
      </button>
    </div>
  </div>

  @if (loading_such_ergebnis) {
    <div style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 25vh;
              ">
      <mat-spinner></mat-spinner>
    </div>
  }@else if (letzte_suche_beschreibung || letzte_suche_mpn || letzte_suche_sku) {
    <h6 class="col" *ngIf="letzte_suche_beschreibung || letzte_suche_mpn || letzte_suche_sku">
      Gesucht wurde mit:
      <ul>
        @if(letzte_suche_beschreibung){
          <li> der Bauteil-Beschreibung "{{ letzte_suche_beschreibung }}" </li>
        }
        @if(letzte_suche_mpn){
          <li> der Hersteller-Teile Nr. "{{ letzte_suche_mpn }}" </li>
        }
        @if(letzte_suche_sku){
          <li> der Lieferanten-Teile Nr. "{{ letzte_suche_sku }}" </li>
        }
      </ul>
    </h6>
    @if(globale_bauteile.length != 0){
      <!-- Tabelle mit Suchergebnisse -->
      <mpl-ergebnis-tabelle [ergebnis_bauteile]="globale_bauteile" [gesamtmenge]="gesamtmenge" (bauteil_ausgewaehlt)="bauteil_auswaehlen($event)"></mpl-ergebnis-tabelle>
    }@else{
      <p>
        Es konnten keine Alternativen Bauteile gefunden werden
      </p>
    }
  }
</div>