<br>

<div class="container-xl">
    <div class="header">
        <h3>Neues Bauteil anlegen</h3>

        <mpl-navigation [kundenbauteil_anlegen]="true" [position]="0"
        ></mpl-navigation>

        <mpl-ladebalken [falsches_laden_beginnen]="lade_status_AlternativeSpeichernBauteil" [lade_status]="100"></mpl-ladebalken>
    </div>

    <br>

    <div class="container-xxl box-anpassen">

        <!-- Radiobuttons -->
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radiobutton_pos" id="bt_erstellen" [value]="1" [(ngModel)]="radiobutton_pos" checked>
            <label class="form-check-label" for="bt_erstellen">
                Bauteil erstellen
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radiobutton_pos" id="globale_bauteile" [value]="2" [(ngModel)]="radiobutton_pos">
            <label class="form-check-label" for="globale_bauteile">
                Globale Bauteile
            </label>
        </div>

        <!-- Formular -->
        @switch (radiobutton_pos) {
            <!-- Kundenbauteil anlegen Formular -->
            @case (1) {
                <form
                    #bauteileform="ngForm" 
                    [formGroup]="formGroup"
                    (ngSubmit)="BauteilAnlegen()"
                >
                    <h5>
                        Bauteildaten
                    </h5>

                    <div class="row">
                        <label
                            for="btnrkd"
                            class="form-label col-3"
                            >Artikelnummer</label
                        >
                        <div class="col">
                            <input
                                id="btnrkd"
                                name="btnrkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="btnrkd"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="btbeschreibungkd"
                            class="form-label col-3"
                            >Beschreibung</label
                        >
                        <div class="col">
                            <input
                                id="btbeschreibungkd"
                                name="btbeschreibungkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="btbeschreibungkd"
                                
                                [class.invalid]="this.formGroup.get('btbeschreibungkd')?.errors"
                                [matTooltip]="
                                    (formGroup.get('btbeschreibungkd')?.errors?.['required'] && fehlermeldung?.[50702]) || 
                                    (formGroup.get('btbeschreibungkd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes'])
                                "
                            />
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="htnrkd"
                            class="form-label col-3"
                            >Hersteller-Teile Nr.</label
                        >
                        <div class="col">
                            <input
                                id="htnrkd"
                                name="htnrkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="htnrkd"
                                [class.invalid]="this.formGroup.get('htnrkd')?.errors"
                                [matTooltip]="
                                    formGroup.get('htnrkd')?.errors?.['required'] && fehlermeldung?.[50703] || 
                                    formGroup.get('htnrkd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes']
                                "
                            />
                        </div>

                        <label 
                            for="agbtkd" 
                            class="form-label col-3 align-right"
                            >Bauteilart</label
                        >
                        <div class="col">
                            <select
                                id="agbtkd"
                                name="agbtkd"
                                type="text"
                                class="form-select form-select-sm"
                                formControlName="agbtkd"
                            >
                                <option *ngFor="let x of agbtkd" [value]="x.value"> {{x.name}} </option>
                                <!-- [selected]="x?.standard" rausgenommen, durch [selected] wird der Wert der Variable im dropdown als default value verwende -->
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="htnhkd"
                            class="form-label col-3"
                            >Hersteller</label
                        >
                        <div class="col">
                            <input
                                id="htnhkd"
                                name="htnhkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="htnhkd"
                            />
                        </div>

                        <label 
                            for="agbskd" 
                            class="form-label col-3 align-right"
                            >Beistellung</label
                        >
                        <div class="col">
                            <select
                                id="agbskd"
                                name="agbskd"
                                type="text"
                                class="form-select form-select-sm"
                                formControlName="agbskd"
                            >
                                <option *ngFor="let x of agbskd" [value]="x.value"> {{x.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="SuchLieferant"
                            class="form-label col-3"
                            >Suche Lieferant</label
                        >
                        <div class="col">
                            <select
                                id="SuchLieferant"
                                name="SuchLieferant"
                                class="form-select form-select-sm"
                                formControlName="linr"
                                (change)="lieferant_change($event)"
                            >
                                <option [value]="undefined" selected>  </option>
                                <option *ngFor="let x of linamekd" [value]="x['LINR']"> {{x.LieferantKurz}} </option>
                            </select>
                        </div>

                        <label 
                            for="aglakd" 
                            class="form-label col-3 align-right"
                            >Lief.B.Auswahl</label
                        >
                        <div class="col">
                            <select
                                id="aglakd"
                                name="aglakd"
                                class="form-select form-select-sm"
                                formControlName="aglakd"
                            >
                                <option *ngFor="let x of aglakd" [value]="x.value"> {{x.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label 
                            for="btnrlikd" 
                            class="form-label col-3"
                            >Lieferanten-Teile Nr.</label
                        >
                        <div class="col">
                            <input
                                id="btnrlikd"
                                name="btnrlikd"
                                class="form-control form-select-sm"
                                formControlName="btnrlikd"
                                [class.invalid]="this.formGroup.get('btnrlikd')?.errors"
                                [matTooltip]="
                                    formGroup.get('btnrlikd')?.errors?.['required'] && fehlermeldung?.[50706] || 
                                    formGroup.get('btnrlikd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes']
                                "
                            >
                        </div>

                        <label 
                            for="aghakd" 
                            class="form-label col-3 align-right"
                            >Herst.Auswahl</label
                        >
                        <div class="col">
                            <select
                                id="aghakd"
                                name="aghakd"
                                class="form-select form-select-sm"
                                formControlName="aghakd"
                            >
                                <option *ngFor="let x of aghakd" [value]="x.value"> {{x.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label 
                            for="linamekd" 
                            class="form-label col-3"
                            >Lieferant</label
                        >
                        <div class="col">
                            <input
                                id="linamekd"
                                name="linamekd"
                                class="form-control form-select-sm"
                                formControlName="linamekd"
                                [class.invalid]="this.formGroup.get('linamekd')?.errors"
                                [matTooltip]="
                                    formGroup.get('linamekd')?.errors?.['required'] && fehlermeldung?.[50705] || 
                                    formGroup.get('linamekd')?.errors?.['etwas anderes'] && fehlermeldung?.['etwas anderes']
                                "
                            >
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="anlagezeitpunkt"
                            class="form-label col-3 transparent"
                            >Anlagezeitpunkt</label
                        >
                        <div class="col">
                            <input
                                id="anlagezeitpunkt"
                                name="anlagezeitpunkt"
                                type="text"
                                class="form-control form-select-sm transparent"
                                disabled
                            />
                        </div>

                        <label
                            for="LetzteAenderung"
                            class="form-label col-3 align-right transparent"
                            >Letzte Änderung</label
                        >
                        <div class="col">
                            <input
                                id="LetzteAenderung"
                                name="LetzteAenderung"
                                type="text"
                                class="form-control form-select-sm transparent"
                                disabled
                            />
                        </div>
                    </div>

                    <div class="row">
                        <label
                            for="btbemerkungkd"
                            class="form-label col-3"
                            >Bauteil-Bemerkungen</label
                        >
                        <div class="col">
                            <input
                                id="btbemerkungkd"
                                name="btbemerkungkd"
                                type="text"
                                class="form-control form-select-sm"
                                formControlName="btbemerkungkd"
                            />
                        </div>
                    </div>

                    <div class="row m-2 align-items-center gap-1 margin_left_0 margin_right_0">
                        <button
                            type="button" 
                            class="btn btn-secondary col-2"
                            (click)="zurueck()"
                        >
                            Abbrechen
                        </button>
            
                        <div class="col"></div>
            
                        <button 
                            type="submit" 
                            class="btn btn-success col-2" 
                            [disabled]="formGroup.invalid || bitte_warten_hinzufuegen"
                        >
                            @if(bitte_warten_hinzufuegen){
                                Bitte warten ...
                            }@else {
                                Hinzufügen
                            }
                        </button>
                    </div>
                </form>
            }

            <!-- Kundenbauteil anlegen Formular -->
            @case (2) {
                <mpl-globale-bauteil-suche
                    [linamekd]="linamekd"
                    [methode]="methode_bauteil"
                    [gesamtmenge]="1"
                    (lade_status)="lade_status_aktualisieren($event)"
                    (bauteil_ausgewaehlt)="globales_bauteil_auswaehlen($event)"
                    (abbrechen)="zurueck()"
                ></mpl-globale-bauteil-suche>
            }
        }
        
    </div>
</div>