@import "../../styles/formular.scss";
@import "../../styles/fehler.scss";

// Für das Formular
@media (min-width: 1300px) {
    form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1500px) {
    form {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1600px) {
    form {
        margin-left: 18%;
        margin-right: 18%;
    }
}

.sticky-table-header {
    top: 83px;
}

// Angular Material Tabelle Spalten
.mat-column-btnrkd{
    width: 100px;
}

.mat-column-agbskd,
.mat-column-aglakd,
.mat-column-aghakd,
.mat-column-btbemerkungkd,
.mat-column-expand,
.mat-column-filter{
    width: 10px;
}

.menu-filter {
    height: 300px !important;
    max-height: 300px !important;
}