<br>
<div class="container-xl">
    <h3>
        My Bauteile ({{gefilterte_bauteile.data.length}})
    </h3>

    <div class="sticky">
        <mpl-ladebalken [falsches_laden_beginnen]="!bereit"></mpl-ladebalken>

        <!-- Suchfelder -->
        @if(bereit){
            <div class="row" style="gap: 7px; margin-right: 0; margin-left: 0;">
                <!--
                <label
                    for="filterAll"
                    class="form-label col-1"
                    >Suchen</label
                >
                <div class="col-2">
                    <input
                        name="filterAll"
                        type="text"
                        class="form-control form-select-sm"
                        (keyup)="applyFilter($event)"
                        [(ngModel)]="filterAll"
                    />
                </div>
                -->
                <div class="col-1"></div>
                <div class="col-2"></div>
    
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>

                <!--
                <button
                    type="button"
                    class="btn btn-secondary col"
                    (click)="loeschen($event)"
                    [disabled]="selection.selected.length === 0"
                >
                    @if (selection.selected.length === 0 || selection.selected.length === 1) {
                        Bauteil löschen
                    }@else if (selection.selected.length > 1 && selection.selected.length !== bauteile.data.length) {
                        {{selection.selected.length}} Bauteile löschen
                    }@else{
                        Alles löschen
                    }
                </button>
                -->
    
                <button class="btn btn-success col" routerLink="/bauteile/anlegen" routerLinkActive="active">
                    Neues Bauteil Hinzufügen
                </button>
            </div>
        }
    </div>
    <br>

    @if(!bereit){
        <div style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
            ">
                <mat-spinner></mat-spinner>
        </div>
    }@else {
    
        <table mat-table
                [dataSource]="gefilterte_bauteile" multiTemplateDataRows
                >

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                    [checked]="loeschen_selection.hasValue() && isAllSelected()"
                                    [indeterminate]="loeschen_selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? loeschen_selection.toggle(row) : null"
                                    [checked]="loeschen_selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="filter">
                <th mat-header-cell *matHeaderCellDef>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="$event.stopPropagation()"
                        [matMenuTriggerFor]="menuFilter"
                    >
                        <mat-icon class="d-flex align-items-center">
                            filter_list
                        </mat-icon>
                    </button>

                    <mat-menu #menuFilter="matMenu" [hasBackdrop]="false">
                        <button mat-menu-item (click)="deleteBaugruppenFilter()">
                            Filter entfernen
                        </button>

                        <div class="d-flex flex-column menu-filter"> 
                            @for (baugruppe of baugruppen; track $index) {
                                <mat-checkbox class="px-2" (click)="$event.stopPropagation()"
                                    (change)="toggleFilterSelection($event, baugruppe)"
                                    [checked]="baugruppen_selection.isSelected(baugruppe)">
                                        {{ baugruppe.bgnrkd }} 
                                </mat-checkbox>
                            }
                        </div>
                    </mat-menu>

                </th>
                <td mat-cell *matCellDef="let row">
                </td>
            </ng-container>

            <ng-container matColumnDef="btnrkd">
                <th mat-header-cell *matHeaderCellDef> Bauteil Nr. </th>
                <td mat-cell *matCellDef="let element"> {{element["btnrkd"]}} </td>
            </ng-container>
            <ng-container matColumnDef="btbeschreibungkd">
                <th mat-header-cell *matHeaderCellDef> Bauteilbeschreibung </th>
                <td mat-cell *matCellDef="let element"> {{element["btbeschreibungkd"]}} </td>
            </ng-container>
            <ng-container matColumnDef="htnrkd">
                <th mat-header-cell *matHeaderCellDef> Hersteller-Teile Nr. </th>
                <td mat-cell *matCellDef="let element"> {{element["htnrkd"]}} </td>
            </ng-container>
            <ng-container matColumnDef="htnhkd">
                <th mat-header-cell *matHeaderCellDef> Hersteller </th>
                <td mat-cell *matCellDef="let element"> {{element["htnhkd"]}} </td>
            </ng-container>

            <ng-container matColumnDef="technDaten">
                <th mat-header-cell *matHeaderCellDef> Datenblatt </th>

                <td mat-cell *matCellDef="let element; let rowIndex = index">
                    @if(element['technDaten']){
                        <a class="link-icon" [href]="element['technDaten']" target="_blank">
                            <mat-icon style="color: red;">picture_as_pdf</mat-icon>
                        </a>
                    }@else {
                        <mat-icon>folder_off</mat-icon>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="agbskd">
                <th mat-header-cell *matHeaderCellDef> BS </th>
                <td mat-cell *matCellDef="let element"> 
                    <div style="font-size: 18px;">
                        <span *ngIf="element['agbskd'] == Beistellung.BEISTELLUNG" class="badge rounded-pill text-bg-warning"> von ihnen Beigestellt </span>
                        <span *ngIf="element['agbskd'] == Beistellung.NICHT_BESTUECKEN" class="badge rounded-pill" style="background-color: orangered; color:white"> nicht Bestücken </span>
                        <span *ngIf="element['agbskd'] == Beistellung.BEISTELLUNG_DURCH_FEHLER" class="badge rounded-pill text-bg-danger"> von ihnen Beigestellt </span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="btbemerkungkd">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="element['btbemerkungkd']"> 
                        &#9733;
                    </span> 
                    <span *ngIf="!element['btbemerkungkd']"> 
                        &minus;
                    </span>    
                </td>
            </ng-container>

            <!-- Löschen Knopf mit Mülltonnen Symbol -->
            <ng-container matColumnDef="loeschen">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon 
                        class="clickable main_muelltonne_anpasssen"
                        (click)="loeschen($event)"
                    >
                        delete
                    </mat-icon>
                </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon 
                        class="clickable muelltonne_anpasssen"
                        (click)="loeschen($event, element)"
                    >
                        delete
                    </mat-icon>
                </td>
            </ng-container>

            <!-- Spalte mit dem Pfeil Symbol -->
            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="vertical_center_container">
                        <label
                            for="filterAll"
                            class=""
                            ><mat-icon>search</mat-icon></label
                        >
                        <input
                            id="filterAll"
                            name="filterAll"
                            type="text"
                            class="form-control form-select-sm"
                            (keyup)="applyFilter($event)"
                            style="width: 100px;"
                        />
                    </span>
                </th>
                <td mat-cell *matCellDef="let element" style="text-align:right">
                    <div mat-icon-button (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </div>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail" >
                <td mat-cell 
                    *matCellDef="let element; let i = dataIndex" 
                    [attr.colspan]="columnsToDisplayWithExpand.length"
                >
                    <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <form #bauteileform="ngForm">
                            <div class="container-xxl box-anpassen">
                                <h5 style="display: flex; justify-content: space-between;">
                                    <div style="display: inline-block; align-self: flex-end;"> Bauteildaten </div> 
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        style="padding-bottom: 0%; padding-left: 8px; padding-right: 8px;"
                                        (click)="expandedElement = undefined;"
                                    >
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </h5>
                                
                                <div class="row">
                                    <label
                                        for="btnrkd{{ i }}"
                                        class="form-label col-2"
                                        >Nummer</label
                                    >
                                    <div class="col">
                                        <input
                                            id="btnrkd{{ i }}"
                                            name="btnrkd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.btnrkd"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row">
                                    <label
                                        for="btbeschreibungkd{{ i }}"
                                        class="form-label col-2"
                                        >Beschreibung</label
                                    >
                                    <div class="col">
                                        <input
                                            id="btbeschreibungkd{{ i }}"
                                            name="btbeschreibungkd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.btbeschreibungkd"
                                        />
                                    </div>
                                </div>

                                <div class="row">
                                    <label 
                                        for="htnrkd{{ i }}" 
                                        class="form-label col-2"
                                        >Hersteller-Teile Nr. </label
                                    >
                                    <div class="col">
                                        <input
                                            id="htnrkd{{ i }}"
                                            name="htnrkd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.htnrkd"
                                            disabled
                                        />
                                    </div>

                                    <div class="col"></div>

                                    <label
                                        for="htnhkd{{ i }}"
                                        class="form-label col-2 align-right"
                                        >Hersteller</label
                                    >
                                    <div class="col">
                                        <input
                                            id="htnhkd{{ i }}"
                                            name="htnhkd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.htnhkd"
                                            disabled
                                        />
                                    </div>
                                    
                                    <!--
                                    <label 
                                        for="agbtkd{{ i }}" 
                                        class="form-label col-2 align-right"
                                        >Bauteilart</label
                                    >
                                    <div class="col">
                                        <select
                                            id="agbtkd{{ i }}"
                                            name="agbtkd{{ i }}"
                                            type="text"
                                            class="form-select form-select-sm"
                                            [(ngModel)]="element.agbtkd"
                                        >
                                            <option *ngFor="let x of agbtkd" [value]="x.value"> {{x.name}} </option>
                                        </select>
                                    </div>
                                    -->
                                </div>

                                <!--
                                <div class="row">
                                    



                                    <div class="col"></div>

                                    
                                    <label 
                                        for="agbskd{{ i }}" 
                                        class="form-label col-2 align-right"
                                        >Beistellung</label
                                    >
                                    <div class="col">
                                        <select
                                            id="agbskd{{ i }}"
                                            name="agbskd{{ i }}"
                                            class="form-select form-select-sm"
                                            [(ngModel)]="element.agbskd"
                                        >
                                            <option *ngFor="let x of agbskd" [value]="x.value"> {{x.name}} </option>
                                        </select>
                                    </div>
                                    
                                </div>
                                -->

                                <div class="row">
                                    <label
                                        for="SuchLieferant{{ i }}"
                                        class="form-label col-2"
                                        >Suche Lieferant</label
                                    >
                                    <div class="col">
                                        <select
                                            id="SuchLieferant{{ i }}"
                                            name="SuchLieferant{{ i }}"
                                            class="form-select form-select-sm"
                                            [(ngModel)]="element.linr"
                                            (change)="lieferant_change($event, element)"
                                        >
                                            <option [value]="undefined" selected>  </option>
                                            <option *ngFor="let x of linamekd" [value]="x['LINR']"> {{x.LieferantKurz}} </option>
                                        </select>
                                    </div>

                                    <div class="col"></div>

                                    <!--
                                    <label
                                        for="aglakd{{ i }}"
                                        class="form-label col-2 align-right"
                                        >Lief.B.Auswahl</label
                                    >
                                    <div class="col">
                                        <select
                                            id="aglakd{{ i }}"
                                            name="aglakd{{ i }}"
                                            class="form-select form-select-sm"
                                            [(ngModel)]="element.aglakd"
                                        >
                                            <option *ngFor="let x of aglakd" [value]="x.value" > {{x.name}} </option>
                                        </select>
                                    </div>
                                    -->
                                    <div class="col-2"></div>
                                    <div class="col"></div>
                                </div>

                                <div class="row">
                                    <label 
                                        for="btnrlikd{{ i }}" 
                                        class="form-label col-2"
                                        >Lieferanten-Teile Nr.</label
                                    >
                                    <div class="col">
                                        <input
                                            id="btnrlikd{{ i }}"
                                            name="btnrlikd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.btnrlikd"
                                        />
                                    </div>

                                    <div class="col"></div>

                                    <label
                                        for="linamekd{{ i }}"
                                        class="form-label col-2 align-right"
                                        >Lieferant</label
                                    >
                                    <div class="col">
                                        <input
                                            id="linamekd{{ i }}"
                                            name="linamekd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.linamekd"
                                        />
                                    </div>

                                    <!--
                                    <label 
                                        for="aghakd{{ i }}" 
                                        class="form-label col-2 align-right"
                                        >Herst.Auswahl</label
                                    >
                                    <div class="col">
                                        <select
                                            id="aghakd{{ i }}"
                                            name="aghakd{{ i }}"
                                            class="form-select form-select-sm"
                                            [(ngModel)]="element.aghakd"
                                        >
                                            <option *ngFor="let x of aghakd" [value]="x.value" > {{x.name}} </option>
                                        </select>
                                    </div>
                                    -->
                                </div>

                                <div class="row">
                                    <label
                                        for="anlagezeitpunkt{{ i }}"
                                        class="form-label col-2"
                                        >Anlagezeitpunkt</label
                                    >
                                    <div class="col">
                                        <input
                                            id="anlagezeitpunkt{{ i }}"
                                            name="anlagezeitpunkt{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm align-right"
                                            [(ngModel)]="element.anlagezeitpunkt"
                                            disabled
                                        />
                                    </div>
                                    
                                    <div class="col"></div>

                                    <label
                                        for="LetzteAenderung{{ i }}"
                                        class="form-label col-2 align-right"
                                        >Letzte Änderung</label
                                    >
                                    <div class="col">
                                        <input
                                            id="LetzteAenderung{{ i }}"
                                            name="LetzteAenderung{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm align-right"
                                            [(ngModel)]="element.letzteaenderungzpkt"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row">
                                    <label
                                        for="btbemerkungkd{{ i }}"
                                        class="form-label col-2"
                                        >Bauteil-Bemerkungen</label
                                    >
                                    <div class="col">
                                        <input
                                            id="btbemerkungkd{{ i }}"
                                            name="btbemerkungkd{{ i }}"
                                            type="text"
                                            class="form-control form-select-sm"
                                            [(ngModel)]="element.btbemerkungkd"
                                        />
                                    </div>
                                </div>

                                <div class="row horizontal_center_container">
                                    <label
                                        class="form-label col-2" style="margin-bottom: 0%;"
                                        >Bauteil in BOM</label
                                    >
                                    <div class="col">
                                        <select
                                            id="aghakd{{ i }}"
                                            name="aghakd{{ i }}"
                                            class="form-select form-select-sm"
                                            (change)="UmleitenNachBom($event)"
                                        >
                                            <option value="" disabled selected></option>
                                            
                                            @for (baugruppe of element.bauteil_in_bom; track $index) {
                                                <option [value]="baugruppe.bgnr"> {{ baugruppe.bgnrkd }} </option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col"></div>

                                    <div class="col-2"></div>
                                    <div class="col"></div>
                                </div>

                                <div class="row m-2 border-success gap-1" style="align-items: center !important;">
                                    <div class="col"></div>

                                    <div class="col-1"></div>

                                    <div class="col"></div>
                                    <div class="col"></div>

                                    <button
                                        type="button"
                                        class="btn btn-success col"
                                        (click)="Update(element)"
                                        [disabled]="bitte_warten_speichern"
                                    >
                                        @if(bitte_warten_speichern){
                                            Bitte warten ...
                                        }@else {
                                            Änderungen speichern
                                        }
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand" class="verkuerzen table-header sticky-table-header"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                class="element-row verkuerzen"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
    }
    
    <mat-paginator [length]="gefilterte_bauteile.data.length"
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, gefilterte_bauteile.data.length]"
        [ngClass]="{'verstecken':!bereit}">
    </mat-paginator>

    <br>

</div>