@import "../../../styles/formular.scss";

// Für die Tabelle
.mat-column-zeile:not(.mat-mdc-header-cell) {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.table_scrolling {
  position: relative;
  max-width: 1800px;
  overflow-y: auto;
}

// Für die Inputs, selects
select {
  width: 150px !important;
}
