<br>
<div class="container-xl"> 
  <h3 class="row">
    <div class="col"> 
      BOM Konfigurator 
    </div>
  </h3>
  
  @if (neues_projekt) {
    <mpl-navigation [position]="2.1"
    ></mpl-navigation>
  }

  <div class="sticky">
    <mpl-ladebalken [falsches_laden_beginnen]="!bereit"></mpl-ladebalken>
  </div>

  @if(!bereit){
    <div style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
    ">
      <mat-spinner></mat-spinner>
    </div>
  }@else {
    <mat-stepper linear #stepper 
    (selectionChange)="selectionChange_stepper($event)">
      <!-- Erster Schritt -->
      <mat-step [stepControl]="ersterSchritt" label="Daten auswählen">
        <form [formGroup]="ersterSchritt">
          <!--
            Soll übersprungen werden, wenn es nur eine Seite gibt.
            Vielleicht ausgewählte Tabellen Seite anzeigen.
          -->
          <div class="sticky-table-header">
            <div class="row" *ngIf="arbeitsblaetter.length > 1">
              <div class="col">
                <label for="arbeitsblatt" class="form-label vertical_center_container">
                  Arbeitsblatt auswählen
                  <mat-icon matTooltip="Wählen Sie das Arbeitsblatt mit den Bauteilen aus">help</mat-icon>
                </label>
                <select
                  id="arbeitsblatt"
                  type="text"
                  class="form-control form-select form-select-sm"
                  (change)="arbeitsblatt_auswaehlen($event)"
                  formControlName="arbeitsblatt"

                  [matTooltip]="
                    (ersterSchritt.controls['arbeitsblatt'].invalid && ersterSchritt.controls['arbeitsblatt'].errors?.['required']) ? fehlermeldungen['required-arbeitsblatt'] : undefined
                  "
                >
                  <option *ngFor="let x of arbeitsblaetter; let i = index" [value]="x" > {{ x }} </option>
                </select>
              </div>
            </div>

            <br *ngIf="arbeitsblaetter.length > 1">

            <div class="row">
              <div class="col-3">
                <label for="kopfzeile" class="form-label vertical_center_container">
                  Spaltennamen (Datenkopf)
                  <mat-icon matTooltip="Geben Sie die Zeilen Nr. mit den Spaltennamen an.">help</mat-icon>
                </label>
                <input
                  id="kopfzeile"  
                  type="number"
                  class="form-control"
                  formControlName="kopfzeile"

                  [matTooltip]="
                    ((ersterSchritt.controls['kopfzeile'].invalid && ersterSchritt.controls['kopfzeile'].errors?.['required']) ? fehlermeldungen['required-kopfzeile'] : undefined) || 
                    ((ersterSchritt.controls['kopfzeile'].invalid && ersterSchritt.controls['kopfzeile'].errors?.['numberAndAboveZero']) ? fehlermeldungen['numberAndAboveZero-kopfzeile'] : undefined) ||
                    ((ersterSchritt.controls['kopfzeile'].invalid && ersterSchritt.controls['kopfzeile'].errors?.['nichtVorhanden']) ? fehlermeldungen['nichtVorhanden-kopfzeile'] : undefined)
                  "
                />
              </div>
    
              <div class="col-3">
                <label for="datenbereich_von" class="form-label vertical_center_container">
                  Tabellenanfang (Datenanfang)
                  <mat-icon style="size: 16;" matTooltip="Geben Sie die Zeilen Nr. an, ab der die eigentlichen Daten beginnen.">help</mat-icon>
                </label>
                <input
                  id="datenbereich_von"  
                  type="number"
                  class="form-control"
                  formControlName="datenbereich_von"

                  [matTooltip]="
                    ((ersterSchritt.controls['datenbereich_von'].invalid && ersterSchritt.controls['datenbereich_von'].errors?.['required']) ? fehlermeldungen['required-datenbereich_von'] : undefined) || 
                    ((ersterSchritt.controls['datenbereich_von'].invalid && ersterSchritt.controls['datenbereich_von'].errors?.['numberAndAboveZero']) ? fehlermeldungen['numberAndAboveZero-datenbereich_von'] : undefined) ||
                    ((ersterSchritt.controls['datenbereich_von'].invalid && ersterSchritt.controls['datenbereich_von'].errors?.['nichtVorhanden']) ? fehlermeldungen['nichtVorhanden-datenbereich_von'] : undefined)
                  "
                />
              </div>
              <div class="col-3">
                <label for="datenbereich_bis" class="form-label vertical_center_container">
                  Tabellenende (Datenende)
                  <mat-icon matTooltip="Geben Sie die Zeilen Nr. an, in der die letzten Daten Ihrer Tabelle stehen.">help</mat-icon>
                </label>
                <input
                  id="datenbereich_bis"  
                  type="number"
                  class="form-control"
                  formControlName="datenbereich_bis"
                  placeholder="Bis zum Ende"

                  [matTooltip]="
                    ((ersterSchritt.controls['datenbereich_bis'].invalid && ersterSchritt.controls['datenbereich_bis'].errors?.['required']) ? fehlermeldungen['required-datenbereich_bis'] : undefined) ||
                    ((ersterSchritt.controls['datenbereich_bis'].invalid && ersterSchritt.controls['datenbereich_bis'].errors?.['numberAndAboveZero']) ? fehlermeldungen['numberAndAboveZero-datenbereich_bis'] : undefined) ||
                    ((ersterSchritt.controls['datenbereich_bis'].invalid && ersterSchritt.controls['datenbereich_bis'].errors?.['nichtVorhanden']) ? fehlermeldungen['nichtVorhanden-datenbereich_bis'] : undefined)
                  "
                />
              </div>
            </div>

            <br>

            <span style="margin-right: 40px;">
              <button class="btn btn-secondary" (click)="ende(false)">
                Abbrechen
              </button>
            </span>

            <button class="btn btn-success" 
              matStepperNext 
              [disabled]="ersterSchritt.invalid"
            >Nächstes</button>

            <br>
            <br>
          </div>
        </form>

        <mat-divider></mat-divider>
        <br>

        <h4>
          Excel Vorschau
        </h4>

        <!-- Vorschau Tabelle -->
        <div class="scrollbar_top_parent">
          <table mat-table class="scrollbar_top_child"
                [dataSource]="vorschau_excel_tabelle_daten" matSort multiTemplateDataRows
                >
      
            <ng-container matColumnDef="zeile">
              <th mat-header-cell *matHeaderCellDef> 
                Zeilen Nr.
              </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index"> 
                {{ element['index'] }}
              </td>
            </ng-container>
      
            @for(spalte of spalten; track $index){
              <ng-container [matColumnDef]="spalte['id'].toString()">
                <th mat-header-cell *matHeaderCellDef> 
                  
                </th>
                <td mat-cell *matCellDef="let element; let rowIndex = index"> 
                  {{ spalte.cell( element['row'] ) }}
                </td>
              </ng-container>
            }
      
            <tr mat-header-row *matHeaderRowDef="spaltenZumAnzeigen; sticky: true" class="verkuerzen table-header"></tr>
            <tr mat-row *matRowDef="let element; columns: spaltenZumAnzeigen;"
              class="element-row verkuerzen jedes_zweite_row_grau">
            </tr>
          </table>
        </div>
        
      </mat-step>
      
      <!-- Zweiter Schritt -->
      <mat-step [stepControl]="zweiterSchritt" label="Spalten zuordnen">
        <div class="row">
          <div class="col">
            Folgende Optionen müssen einer Spalte zugeordnet sein:
            <ul>
              <li [style.color]="spaltenZumAuswaehlen[1].ausgewaehlt ? '#008000' : '#ff0000'">
                "Bauteilbeschreibung"
              </li>
              <li [style.color]="spaltenZumAuswaehlen[2].ausgewaehlt || spaltenZumAuswaehlen[4].ausgewaehlt || spaltenZumAuswaehlen[10].ausgewaehlt ? '#008000' : '#ff0000'">
                "Hersteller-Teile Nr", "Lieferanten-Teile Nr" <br> oder "Hersteller- und Lieferanten-Teile Nr"
              </li>
              <li [style.color]="spaltenZumAuswaehlen[7].ausgewaehlt ? '#008000' : '#ff0000'">
                "Menge"
              </li>
            </ul>
          </div>
          <div class="col">
            Zuweisungsregeln:
            <ul>
              <li>Jede Option kann nur einer Spalte zugeordnet werden.</li>
              <li>
                Enthält eine Spalte sowohl Hersteller- als auch Lieferanten-Teile Nr, wählen Sie “Hersteller- und Lieferanten-Teile Nr”.
                <ul>
                  <li>
                    Ist “Hersteller- und Lieferanten-Teile Nr” gewählt, können “Hersteller-Teile Nr” und “Lieferant-Teile Nr” nicht gewählt werden.
                  </li>
                  <li>
                    Ist “Hersteller-Teile Nr” oder “Lieferant-Teile Nr” gewählt, kann “Hersteller- und Lieferanten-Teile Nr” nicht gewählt werden.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <span style="margin-right: 40px;">
            <button class="btn btn-secondary" (click)="ende(false)">
              Abbrechen
            </button>
          </span>
          <span style="padding-right: 10px;">
            <button class="btn btn-secondary" matStepperPrevious>Zurück</button>
          </span>
          <span>
            <button class="btn btn-success" 
            [disabled]="!required_spalten_ausgewaehlt"
            (click)="ende({ 
              datei: datei,
              arbeitsblatt: ersterSchritt.get('arbeitsblatt')?.value,
              kopfzeile: ersterSchritt.get('kopfzeile')?.value,
              datenbereich: {
                datenbereich_von: ersterSchritt.get('datenbereich_von')?.value,
                datenbereich_bis: ersterSchritt.get('datenbereich_bis')?.value
              },
              spalten: zweiterSchritt.value,
            })">Übernehmen</button> <!--Ausgewählte Header nach PHP senden-->
          </span>
        </div>

        <br>

        <!-- Tabelle -->
        <div class="scrollbar_top_parent">
          <table mat-table class="scrollbar_top_child"
                [dataSource]="angepasste_excel_tabelle_daten" matSort multiTemplateDataRows
          >
      
            <ng-container matColumnDef="zeile">
              <th mat-header-cell *matHeaderCellDef> 
                Zeilen Nr.
              </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index"> 
                {{ element['index'] }}
              </td>
            </ng-container>
      
            @for (spalte of spalten; track $index) {
              <ng-container [matColumnDef]="spalte?.['id'].toString()">
                <th mat-header-cell *matHeaderCellDef> 
                  {{ spalte?.['label'] ?? "" }}
        
                  <br>
        
                  <!-- Spalten zuordnen -->
                  <form *ngIf="zweiterSchritt !== undefined" [formGroup]="zweiterSchritt">
                    <select
                      type="text"
                      class="form-select form-select-sm"
                      [formControlName]="$index"
                      (change)="change_spalte_Ausgewaehlt()"
                    >
                      <option></option>
                      <option [value]="-1"> Ignorieren </option>
                      <option *ngFor="let x of spaltenZumAuswaehlen" [value]="x.spalte" [disabled]="x.ausgewaehlt || x.deaktiviert"> {{x.name}} </option>
                    </select>
                  </form>
                </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ spalte.cell( element['row'] ) }}
                </td>
              </ng-container>
            }
      
            <tr mat-header-row *matHeaderRowDef="spaltenZumAnzeigen; sticky: true" class="verkuerzen table-header sticky-table-header"></tr>
            <tr mat-row *matRowDef="let element; columns: spaltenZumAnzeigen;"
              class="element-row verkuerzen jedes_zweite_row_grau">
            </tr>
          </table>
        </div>
      
      </mat-step>
    </mat-stepper>
  }

</div>

  