@if(einruecken){
  <br>
}

<div [ngClass]="{'container-xl':einruecken}">
  @if(einruecken){
    <h3>
      My Daten 
      @if (bereit && bereit_aunr) {
        ({{ unterlagen.data.length }})
      }
    </h3>
    @if(bereit && bereit_aunr){
      @if(bestellungID){
        <mpl-navigation [bestellung]="true" [position]="2" [aunr]="aunr" [bestellungID]="bestellungID"
        ></mpl-navigation>
      }@else{
        <mpl-navigation [auftraege]="true" [position]="0" [bgnr]="bgnr" [aunr]="aunr" [name]="bgnrkd"
        ></mpl-navigation>
      }
    }@else{
      <h6>
        Es wird geladen.
      </h6>
    }
  }

  <div class="sticky">
    @if (einruecken) {
      <mpl-ladebalken [falsches_laden_beginnen]="!(bereit && bereit_aunr)"></mpl-ladebalken>
    }

    <div class="row">
      <div class="col-3">
        <mpl-button-fileupload [bitte_warten]="bitte_warten_hochladen" (callback)="datei_hochladen_vorbereiten($event)"></mpl-button-fileupload>
      </div>

      <div class="col-auto">
        <h6>
          Checkliste:
        </h6>

        <ul class="ul-anpassen">
          @if(gerberdaten_anzeigen){
            <li>
              <mat-checkbox [checked]="gerberdaten" (change)="CheckboxCheckedStatus()">
                Gerberdaten
              </mat-checkbox>
            </li>
          }
          <li>
            <mat-checkbox [checked]="bestueckungsplan" (change)="CheckboxCheckedStatus()">
              Bestückungsplan
            </mat-checkbox>
          </li>
          <li>
            <mat-checkbox [checked]="arbeitsanweisung" (change)="CheckboxCheckedStatus()">
              Arbeitsanweisung
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </div>

    <br>

    <!-- Suchfelder -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2"></div>

      <div class="col-1"></div>

      <div class="col"></div>

      <!--
      @if(unterlagen.data.length > 0){
        <button
          type="button"
          class="btn btn-secondary col-2"
          (click)="loeschen()"
          [disabled]="selection.selected.length === 0"
        >
          @if (selection.selected.length === 0 || selection.selected.length === 1) {
            Unterlage löschen
          }@else if (selection.selected.length > 1 && selection.selected.length !== unterlagen.data.length) {
            {{selection.selected.length}} Unterlagen löschen
          }@else{
            Alles löschen
          }
        </button>
      }@else {
        <div class="col-2"></div>
      }
      -->

      <div class="col-2"></div>
      
      <div class="col-2"></div>
    </div>
  </div>
  <br>

  @if(!(bereit)){
    <div style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      ">
        <mat-spinner></mat-spinner>
    </div>
  }@else {
    @if(unterlagen.data.length > 0){
      <table mat-table [dataSource]="unterlagen" multiTemplateDataRows>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
              </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Dateiname </th>
          <td mat-cell *matCellDef="let element"> {{element["name"]}} </td>
        </ng-container>
        <ng-container matColumnDef="ctime">
          <th mat-header-cell *matHeaderCellDef> Erstellungsdatum </th>
          <td mat-cell *matCellDef="let element"> {{element["ctime"]}} </td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef> Dateigröße </th>
          <td mat-cell *matCellDef="let element"> {{element["size"]}} </td>
        </ng-container>
        
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon 
              class="clickable"
              style="color: black;"
              (click)="download(element)"
            >
              file_download
            </mat-icon>
            <!--
            <button class="btn btn-sm btn-secondary" (click)="download(element)"> Download </button>
            -->
          </td>
        </ng-container>

        <ng-container matColumnDef="loeschen">
          <th mat-header-cell *matHeaderCellDef>
            
          </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon 
              class="clickable muelltonne_anpasssen"
              (click)="loeschen(element)"
            >
              delete
            </mat-icon>
          </td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="verkuerzen table-header"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row verkuerzen"></tr>
      </table>
    }
  }
    
  <mat-paginator [length]="unterlagen.data.length"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, unterlagen.data.length]"
    [ngClass]="{'verstecken':!(bereit && bereit_aunr && unterlagen.data.length > 0)}">
  </mat-paginator>

  @if(bereit && bereit_aunr){
    @if(zurueck_button){
      <div class="row margin_right_0 margin_left_0">
        <mpl-pfeil-links class="col-2" (click_event)="zurueck()"></mpl-pfeil-links>
        
        <div class="col"></div>
        
        <mpl-pfeil-rechts class="col-2" (click_event)="weiter()"></mpl-pfeil-rechts>
        
        <!--
        <button
          type="button"
          class="btn btn-secondary col-2"
          (click)="zurueck()"
        >Zurück</button>

        <div class="col"></div>

        <button
          type="button"
          class="btn btn-secondary col-2"
          (click)="weiter()"
        >Weiter</button>
        -->
        
      </div>
    }

    <br>
  }
  
</div>