@import "../../styles/formular.scss";
@import "../../styles/fehler.scss";

// Für die Formulare
@media (min-width: 800px) {
    form:not(.no_form_style) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 1100px) {
    form:not(.no_form_style) {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1300px) {
    form:not(.no_form_style) {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1500px) {
    form:not(.no_form_style) {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 1700px) {
    form:not(.no_form_style) {
        margin-left: 25%;
        margin-right: 25%;
    }
}

.sticky-table-header {
    top: 100px;
}

// Für ein Input
.erhoehe-padding {
    padding-right: 1%;
}

// Angular Material Tabelle Spalten
.mat-column-anzprobg,
.mat-column-anzprobgkomp {
    max-width: 100px;
    text-align: center;
}

.mat-column-elbez,
.mat-column-elbezkomp {
    max-width: 100px !important;
    overflow-wrap: break-word;
}

.mat-column-bompos,
.mat-column-aglakd,
.mat-column-aghakd,
.mat-column-btbemerkungkd {
    max-width: 65px;
}

// Sonstiges
.buttons-weiter-runter {
    margin-top: 30vh;
}