@import "../styles/_farbpallete.scss";
@import "../styles/formular.scss";

.img-breite-anpassen {
    width: 7rem;
    padding-right: 10px;
}

mpl-action-button {
    cursor: pointer;
}

.margin-top {
    margin-top: 6rem;
}

