<mpl-button-close class="align-self-end" (click_event)="abbrechen()"></mpl-button-close>

<div style="margin: 25px">
  <form [formGroup]="form_neuer_auftrag" style="margin-bottom: 0; padding: 5px; width: 380px;">
    <mat-dialog-content style="padding: 2px;">
      <div class="container">
        @if (!naechster_schritt) {
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-6">
              <label for="baugruppenname" class="form-label label_bold">Baugruppen Name</label>
              <input 
                id="baugruppenname"
                name="baugruppenname"
                style="margin: 0;"
                name="baugruppenmenge"
                class="form-control form-select-sm"
                [class.deaktiviere_valid_and_invalid_aussehen]="!weiter_clicked"
                formControlName="baugruppenname"
          
                [matTooltipDisabled]="!weiter_clicked || form_neuer_auftrag.get('baugruppenname')?.valid"
                [matTooltip]="
                  ((form_neuer_auftrag.controls['baugruppenname'].invalid && form_neuer_auftrag.controls['baugruppenname'].errors?.['required']) 
                        ? fehlermeldung_baugruppenname['required'] : undefined) 
                "
              >
            </div>
            <div class="col-6">
              <label for="baugruppenmenge" class="form-label label_bold"> Menge </label>
              <input id="baugruppenmenge"
                style="margin: 0;"
                name="baugruppenmenge"
                type="number"
                class="form-control form-select-sm"
                [class.deaktiviere_valid_and_invalid_aussehen]="!weiter_clicked"
                formControlName="baugruppenmenge"
          
                [matTooltipDisabled]="!weiter_clicked || form_neuer_auftrag.get('baugruppenmenge')?.valid"
                matTooltip="Bitte tragen Sie die Menge der zu produzierenden Baugruppen ein!"     
              >
            </div>
          </div>
        }@else {
          <div class="row" style="margin-bottom: 10px;">
            <span class="col-12 label_bold"> Bauteile sollen ausgewählt werden nach: </span>
            <div class="col-12 form-check form-check-inline" style="padding-left: 40px;">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" 
                (change)="radiobutton_bauteilOptionStatus = bauteilOptionStatus.LIEFERZEIT"
                [checked]="radiobutton_bauteilOptionStatus === bauteilOptionStatus.LIEFERZEIT"
              >
              <label class="form-check-label" for="inlineRadio1"> Beste Lieferzeit </label>
            </div>
            <div class="col-12 form-check form-check-inline" style="padding-left: 40px;">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" 
                (change)="radiobutton_bauteilOptionStatus = bauteilOptionStatus.PREIS"
                [checked]="radiobutton_bauteilOptionStatus === bauteilOptionStatus.PREIS"
              >
              <label class="form-check-label" for="inlineRadio2"> Bester Preis </label>
            </div>
          </div>
        }
      </div>
      
    </mat-dialog-content>

    <div class="container">
      <mat-dialog-actions class="row">
        @if (!naechster_schritt) {
          <div class="col"></div>

          <mpl-pfeil-rechts 
            style="padding-right: 0 !important;"
            class="col-auto align-self-end" 
            (click_event)="weiter_zum_naechsten_schritt()" 
            [disabled]="weiter_clicked && form_neuer_auftrag.invalid"
          ></mpl-pfeil-rechts>
        }@else {
          <mpl-pfeil-links 
            style="padding-left: 0;"
            class="col-auto" 
            (click_event)="zurueck_zum_vorherigen_schritt()"
          ></mpl-pfeil-links>

          <div class="col"></div>

          <mpl-pfeil-rechts 
            class="col-auto align-self-end" 
            style="padding-right: 0 !important;"
            (click_event)="weiter()" 
            [disabled]="weiter_clicked && form_neuer_auftrag.invalid"
          ></mpl-pfeil-rechts>
        }
      </mat-dialog-actions>
    </div>
  </form>
</div>