<br>

<div class="container-xl">
  <h3 class="row">
    <div class="col" style="height: 38px;"> 
      BOM vergleichen
    </div>
  </h3>

  @if(bereit){
    @if(neues_projekt){
      <mpl-navigation [neues_projekt]="true" [position]="4" [bgnr]="bgnr" [aunr]="aunr" [alle_nav_anwendbar]="auftrag[0].bestellt !== 0"
      ></mpl-navigation>
    }@else if (neuer_auftrag) {
      <mpl-navigation [neuer_auftrag]="true" [position]="3" [bgnr]="bgnr" [aunr]="aunr" [name]="bgnrkd" 
      ></mpl-navigation>
    }@else if (auftrag_fortfahren) {
      <mpl-navigation [auftrag_fortfahren]="true" [position]="3" [bgnr]="bgnr" [aunr]="aunr" [name]="bgnrkd" 
      ></mpl-navigation>
    }@else{
      <mpl-navigation [auftraege]="true" [position]="3" [bgnr]="bgnr" [aunr]="aunr" [name]="aunr" 
      ></mpl-navigation>
    }
  }@else {
    <h6>
      Es wird geladen.
    </h6>
  }
  
  <mpl-ladebalken [falsches_laden_beginnen]="!bereit"></mpl-ladebalken>

  @if(!bereit){
    <div style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      ">
        <mat-spinner></mat-spinner>
    </div>
    <div style="
      display: flex;
      justify-content: center;
      align-items: center;
      ">
        <h5>
          Die Bauteile werden geprüft und in kürze angezeigt. 
        </h5>
    </div>

    @if (this.dauertLange) {
      <div style="
        display: flex;
        justify-content: center;
        align-items: center;
      ">
        <h6>
          Gedulden Sie sich Bitte, bis die Prüfung abgeschlossen ist. 
        </h6>
      </div>
    }
  }@else {
    @if ((neues_projekt || neuer_auftrag || auftrag_fortfahren) && (auftrag && auftrag[0].bestellt !== 0)) {
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" role="alert">
            Dieses Angebot wurde bereits bestellt!
          </div>
        </div>
      </div>
    }

    @if(auftrag[0]?.['bauteiloptionkd'] == BauteilOptionStatus.PREIS){
      <p>
        Wir suchen für ihnen die günstigsten Bauteile aus.
      </p>
    }@if(auftrag[0]?.['bauteiloptionkd'] == BauteilOptionStatus.LIEFERZEIT){
      <p>
        Wir suchen für ihnen Bauteile mit der kürzesten Lieferzeit aus.
      </p>
    }
    
    
    <p>
      Angebotsmenge: 
    
      @if (auftragsstuecklisten.length > 0) {
        {{ auftrag[0]['auftragsmenge'] }}
      }@else {
        Fehler!
      }
    </p>

    <p>
      Letzte Kalkulation: 
      
      @if (auftragsstuecklisten.length > 0) {
        {{ auftrag[0]['letztermatkalkzpkt'] | date:'dd.MM.yyyy'}}
      }@else {
        Fehler!
      }
    </p>

    <br>

    @for (tmp_data of auftragsstuecklisten; track $index) {
      <div class="row vertical_center_container">
        <div class="col badge-large">
          <span class="badge rounded-pill text-bg-secondary">
            POS: {{ tmp_data['bompos'] }}
          </span>
        </div>

        <div class="col badge-large">
          @if (tmp_data['agbskd'] == Beistellung.BESCHAFFUNG) {
            @if(tmp_data['maxlbverfuegbar'] == QuellenStatus.NICHT_GEPRUEFT){
              <span class="badge rounded-pill text-bg-secondary"> nicht geprüft   </span>
            }@else if (tmp_data['maxlbverfuegbar'] == QuellenStatus.NICHT_VERFUEGBAR) {
              <span class="badge rounded-pill text-bg-danger">    nicht Verfügbar </span>
            }@else if (tmp_data['maxlbverfuegbar'] == QuellenStatus.VERFUEGBAR_IN) {
              <span class="badge rounded-pill text-bg-success">   Verfügbar </span>
              <!--
              <span class="badge rounded-pill text-bg-success">   Verfügbar in {{tmp_data['lieferZeit']}} Tagen </span>
              -->
            }@else if (tmp_data['maxlbverfuegbar'] == QuellenStatus.VERFUEGBAR) { 
              <span class="badge rounded-pill text-bg-success">   Verfügbar       </span>
            }@else if (tmp_data['maxlbverfuegbar'] == QuellenStatus.ALTERNATIVE_VERFUEGBAR) {
              <span class="badge rounded-pill text-bg-success">   alternatives Verfügbar </span>
            }@else if (tmp_data['maxlbverfuegbar'] == QuellenStatus.ALTERNATIVE_NICHT_VERFUEGBAR) {
              <span class="badge rounded-pill text-bg-danger">    alternatives nicht Verfügbar </span>
            }@else if (tmp_data['maxlbverfuegbar'] == QuellenStatus.ALTERNATIVE_VERFUEGBAR_IN) {
              <span class="badge rounded-pill text-bg-success"> alternatives Bauteil Verfügbar </span>
              <!--
              <span class="badge rounded-pill text-bg-success"> alternatives Bauteil Verfügbar in {{ tmp_data['lieferZeit'] }} Tagen </span>
              -->
            }
          }@else if (tmp_data['agbskd'] == Beistellung.BEISTELLUNG) {
            <span class="badge rounded-pill text-bg-warning"> von ihnen Beigestellt </span>
          }@else if (tmp_data['agbskd'] == Beistellung.NICHT_BESTUECKEN) {
            <span class="badge rounded-pill" style="background-color: orangered; color:white"> nicht Bestücken </span>
          }@else if (tmp_data['agbskd'] == Beistellung.BEISTELLUNG_DURCH_FEHLER) {
            <span class="badge rounded-pill text-bg-danger">  Daten sind unvollständig </span>
          }
        </div>
        <div class="col">
          <!--
          <button
            type="button"
            class="btn btn-secondary Button_in_einer_Tabellen_Spalte"
            (click)="alternative_suche($event, tmp_data)"
          >
            <div>
              Bauteil suchen (noch in arbeit)
            </div>
          </button>
          --> 
        </div>
        <div class="col">
          
        </div>
        <div class="col">
          
        </div>
        <div class="col">
          
        </div>
      </div>
    
      <table mat-table [dataSource]="[tmp_data]" multiTemplateDataRows>
        <!-- Zeilen definieren -->
        <ng-container matColumnDef="soll">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            Soll
          </td>
        </ng-container>
        <ng-container matColumnDef="bompos">
          <th mat-header-cell *matHeaderCellDef> POS </th>
          <td mat-cell *matCellDef="let element">
            <div class="badge-medium">
              <span class="badge rounded-pill text-bg-secondary ">
                {{element["bompos"]}} 
              </span>
            </div>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="btbeschreibungkd">
          <th mat-header-cell *matHeaderCellDef> Bauteil Beschreibung </th>
          <td mat-cell *matCellDef="let element">
            {{element["btbeschreibungkd"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="htnrkd">
          <th mat-header-cell *matHeaderCellDef> Hersteller-Teile Nr. </th>
          <td mat-cell *matCellDef="let element">
            {{element["htnrkd"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="htnhkd">
          <th mat-header-cell *matHeaderCellDef> Hersteller </th>
          <td mat-cell *matCellDef="let element">
            {{element["htnhkd"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="btnrlikd">
          <th mat-header-cell *matHeaderCellDef> Lieferanten-Teile Nr. </th>
          <td mat-cell *matCellDef="let element">
            {{element["btnrlikd"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="linamekurzkd">
          <th mat-header-cell *matHeaderCellDef> Lieferant </th>
          <td mat-cell *matCellDef="let element">
            @if(element["linamekurzkd"]){
              {{element["linamekurzkd"]}}
            }@else {
              {{element["linamekd"]}}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="elbezkomp">
          <th mat-header-cell *matHeaderCellDef> Elektrische Bezeichnung </th>
          <td mat-cell *matCellDef="let element">
            {{element["elbezkomp"]}}
          </td>
        </ng-container>

        <ng-container matColumnDef="soll-lieferzeit">
          <th mat-header-cell *matHeaderCellDef> 
            Lieferzeit
          </th>
          <td mat-cell *matCellDef="let element">
            <!--
            {{ tmp_data['lieferZeit'] }} Tage
            -->
          </td>
        </ng-container>

        <ng-container matColumnDef="leer-anzprobgkomp">
          <th mat-header-cell *matHeaderCellDef> Menge pro Baugruppe </th>
          <td mat-cell *matCellDef="let element">
              
          </td>
        </ng-container>
        <ng-container matColumnDef="leer-gesamtmenge">
          <th mat-header-cell *matHeaderCellDef> Gesamt-menge </th>
          <td mat-cell *matCellDef="let element">
            
          </td>
        </ng-container>

        <ng-container matColumnDef="technDaten">
          <th mat-header-cell *matHeaderCellDef> 
            Datenblatt
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index"> 
            @if(element['technDaten']){
              <a class="link-icon" [href]="element['technDaten']" target="_blank">
                <mat-icon style="color: red;">picture_as_pdf</mat-icon>
              </a>
            }@else {
              <mat-icon>folder_off</mat-icon>
            }
          </td>
        </ng-container>

        

        <ng-container matColumnDef="beschaffungsmenge">
          <th mat-header-cell *matHeaderCellDef> 
            Beschaffungsmenge
          </th>
          <td mat-cell *matCellDef="let element">
          </td>
        </ng-container>
        <ng-container matColumnDef="gesamtpreis">
          <th mat-header-cell *matHeaderCellDef> 
            Gesamtpreis
          </th>
          <td mat-cell *matCellDef="let element">
          </td>
        </ng-container>
        



        <!-- Wird für die zweite Zeile verwendet -->
        <ng-container matColumnDef="ist">
          <td mat-cell *matCellDef="let element">
            Ist
          </td>
        </ng-container>
        <ng-container matColumnDef="ist-btbeschreibung"> <!-- Bauteil Beschreibung -->
          <td mat-cell *matCellDef="let element"
            [ngClass]="{
              'unterschiedlich':  element['btbeschreibungkd'] != element['bauteilquelle']['btqbeschreibung'],
              'gleich':           element['btbeschreibungkd'] == element['bauteilquelle']['btqbeschreibung']
            }"
          >
            {{element['bauteilquelle']["btqbeschreibung"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="ist-htnr">  <!-- Hersteller Nr. -->
          <td mat-cell *matCellDef="let element" 
            [ngClass]="{
              'unterschiedlich':  element['htnrkd'] != element['bauteilquelle']['htnr'],
              'gleich':           element['htnrkd'] == element['bauteilquelle']['htnr']
            }"
          >
            {{element['bauteilquelle']["htnr"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="ist-htnh"> <!-- Hersteller -->
          <td mat-cell *matCellDef="let element" 
            [ngClass]="{
              'unterschiedlich':  element['htnhkd'] != element['bauteilquelle']['htnh'],
              'gleich':           element['htnhkd'] == element['bauteilquelle']['htnh']
            }"
          >
            {{element['bauteilquelle']["htnh"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="ist-btnrli"> <!-- Lieferanten-Teile Nr. -->
          <td mat-cell *matCellDef="let element" 
            [ngClass]="{
              'unterschiedlich':  element['btnrlikd'] != element['bauteilquelle']['btnrli'],
              'gleich':           element['btnrlikd'] == element['bauteilquelle']['btnrli']
            }"
          >
            {{element['bauteilquelle']["btnrli"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="ist-linamekurz"> <!-- Lieferant Kurz Name -->
          <td mat-cell *matCellDef="let element" 
            [ngClass]="{
              'unterschiedlich':  element['linamekurzkd'] != element['bauteilquelle']?.['lieferantkurz'],
              'gleich':           element['linamekurzkd'] == element['bauteilquelle']?.['lieferantkurz']
            }"
          >
            @if(element["bauteilquelle"]?.["lieferantkurz"]){
              {{element["bauteilquelle"]?.["lieferantkurz"]}}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="ist-anzprobgkomp">
          <td mat-cell *matCellDef="let element">
              {{element["anzprobgkomp"]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="ist-gesamtmenge">
          <td mat-cell *matCellDef="let element">
            {{ (auftrag[0]['auftragsmenge'] * tmp_data['anzprobgkomp']) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ist-lieferzeit">
          <td mat-cell *matCellDef="let element">
            {{ tmp_data['lieferZeit'] }} Tage
          </td>
        </ng-container>

        <ng-container matColumnDef="ist-technDaten">
          <th mat-header-cell *matHeaderCellDef> 
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index"> 
            @if(element['technDatenBQ']){
              <a class="link-icon" [href]="element['technDatenBQ']" target="_blank">
                <mat-icon style="color: red;">picture_as_pdf</mat-icon>
              </a>
            }@else {
              <mat-icon>folder_off</mat-icon>
            }
          </td>
        </ng-container>
    
        <!-- Wird verwendet jenachdem welches Status das Bauteil hat -->
        <ng-container matColumnDef="nicht_verfuegbar">
          <td mat-cell *matCellDef="let element" [attr.colspan]="ErsteColoums.length" class="nicht_verfuegbar">
            Das Bauteil ist nicht verfügbar. <br>
            Bitte bedenken Sie, dass im vorherigen Schritt nach Alternativen Bauteilen gesucht werden kann! 
          </td>
        </ng-container>
        <ng-container matColumnDef="nicht_geprueft">
          <td mat-cell *matCellDef="let element" [attr.colspan]="ErsteColoums.length" class="nicht_geprueft">
            Das Bauteil ist noch nicht geprüft worden. <br>
            Wenn sie die Verfügbarkeit prüfen oder ein alternatives Bauteil suchen wollen, gehen sie zu den vorherigen Schritt!
          </td>
        </ng-container>
        <ng-container matColumnDef="unbekannt">
          <td mat-cell *matCellDef="let element" [attr.colspan]="ErsteColoums.length -1" class="unbekannt">
            Das Bauteil hat ein unbekannten Statusmeldung. Bitte kontaktieren Sie den IT-Support.
          </td>
        </ng-container>
        <ng-container matColumnDef="beigestellt">
          <td mat-cell *matCellDef="let element" [attr.colspan]="ErsteColoums.length -1" class="beigestellt">
            Sie haben sich entschieden, das Bauteil selbst zu liefern.
          </td>
        </ng-container>
        <ng-container matColumnDef="unterschiedlich">
          <td mat-cell *matCellDef="let element" [attr.colspan]="ErsteColoums.length">
            Achtung: Das ausgewählte Bauteil hat unterschiedliche Werte als von ihnen angegeben.
          </td>
        </ng-container>

        <!-- Wird verwendet wenn eine Zelle leer sein soll -->
        <ng-container matColumnDef="leer">
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
    
        <!--  Zeilenüberschrift -->
        <tr mat-header-row *matHeaderRowDef="ErsteColoums" class="verkuerzen table-header sticky-table-header"></tr>

        <!-- Daten sollen zum Vergleichen in zwei Zeilen angezeigt werden. Jenachdem welchen Status das Bauteil hat, wird eine andere zweite Zeile angezeigt -->
        <!-- erste Zeile-->
        <tr mat-row *matRowDef="let element; columns: ErsteColoums;"
          class="element-row verkuerzen mehrereZeilen ersteZeile">
        </tr>

        @if(tmp_data['agbskd'] === Beistellung.BESCHAFFUNG){
          @if (tmp_data['maxlbverfuegbar'] === QuellenStatus.VERFUEGBAR || tmp_data['maxlbverfuegbar'] === QuellenStatus.VERFUEGBAR_IN || tmp_data['maxlbverfuegbar'] === QuellenStatus.ALTERNATIVE_VERFUEGBAR || tmp_data['maxlbverfuegbar'] === QuellenStatus.ALTERNATIVE_VERFUEGBAR_IN) {
            <!-- zweite Zeile -->
            <tr mat-row *matRowDef="let element; columns: ZweiteColoums;"
              class="element-row verkuerzen mehrereZeilen vergleich_zweite_zeile_hintergrund_farbe">
            </tr>

            <!-- Warnung wenn die Bauteile unterschiedlich sind -->
            @if(
              tmp_data['btbeschreibungkd'] != tmp_data['btqbeschreibung']
              || tmp_data['htnrkd']        != tmp_data['btqhtnr']
              || tmp_data['htnhkd']        != tmp_data['btqhtnh']
              || tmp_data['btnrlikd']      != tmp_data['btqnrli']
              || tmp_data['linamekurzkd']  != tmp_data['liqnamekurz'] 
              || tmp_data['linamekd']      != tmp_data['liqname']
            ){
              <tr mat-row *matRowDef="let element; columns: ['unterschiedlich'];"
                class="element-row verkuerzen mehrereZeilen unterschiedlich">
              </tr>
            }
          }@else if (tmp_data['maxlbverfuegbar'] === QuellenStatus.NICHT_VERFUEGBAR || tmp_data['maxlbverfuegbar'] === QuellenStatus.ALTERNATIVE_NICHT_VERFUEGBAR) {
            <!-- Bauteil nicht verfügbar, weshalb die Zweite Zeile ein "nicht verfügbar" Meldung anzeigt -->
            <tr mat-row *matRowDef="let element; columns: ['ist', 'nicht_verfuegbar'];"
              class="element-row verkuerzen mehrereZeilen vergleich_zweite_zeile_hintergrund_farbe">
            </tr>
          }@else if (tmp_data['maxlbverfuegbar'] === QuellenStatus.NICHT_GEPRUEFT) {
            <!-- Bauteil nicht geprüft, weshalb die Zweite Zeile ein "nicht geprüft" Meldung anzeigt -->
            <tr mat-row *matRowDef="let element; columns: ['ist', 'nicht_geprueft'];"
              class="element-row verkuerzen mehrereZeilen vergleich_zweite_zeile_hintergrund_farbe">
            </tr>
          }@else {
            <!-- Unbekannte Fehler ist aufgetreten, weshalb Zweite Zeile ein "unbekannt" Meldung anzeigt -->
            <!-- Es ist nicht eingebaut worden -->
            <tr mat-row *matRowDef="let element; columns: ['ist', 'unbekannt'];"
              class="element-row verkuerzen mehrereZeilen vergleich_zweite_zeile_hintergrund_farbe">
            </tr>
          }
        }@else {
          <!-- Bauteil wird beigestellt -->
          <tr mat-row *matRowDef="let element; columns: ['ist', 'beigestellt'];"
            class="element-row verkuerzen mehrereZeilen vergleich_zweite_zeile_hintergrund_farbe">
          </tr>
        }
      </table>
    
      @if(tmp_data['maxlbverfuegbar'] === QuellenStatus.VERFUEGBAR || tmp_data['maxlbverfuegbar'] === QuellenStatus.VERFUEGBAR_IN || tmp_data['maxlbverfuegbar'] === QuellenStatus.ALTERNATIVE_VERFUEGBAR || tmp_data['maxlbverfuegbar'] === QuellenStatus.ALTERNATIVE_VERFUEGBAR_IN){
        <div class="row vertical_center_container">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <!--
            Lieferzeit: {{ tmp_data['lieferZeit'] }}
            -->
          </div>
          
          <div class="col">
            Beschaffungsmenge: {{ tmp_data['beschaffungsmenge'] }}
          </div>
          <div class="col">
            Gesamtpreis: {{ (tmp_data['betragbeschaffungsmenge']) | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </div>
        </div>
      }
      

      <br>
      <br>
    
    }

    <div class="row margin_right_0">
      <!--
      <button 
        type="button"
        class="btn btn-secondary col-2"
        (click)="zurueck()"
      >
        Zurück
      </button>
      -->
      <mpl-pfeil-links class="col-auto" (click_event)="zurueck()"></mpl-pfeil-links>

      <div class="col"></div>

      <!--
      <button 
        type="button"
        class="btn btn-success col-2"
        (click)="weiter()"
      >
        Weiter
      </button>
      -->
      @if(neues_projekt || neuer_auftrag || auftrag_fortfahren){
        <mpl-pfeil-rechts class="col-auto" (click_event)="weiter()"></mpl-pfeil-rechts>
      }
    </div>
    
    <br>
    <br>
  }
  
</div>