@import "../../../styles/formular.scss";

// Für zweite Zeilen
.nicht_verfuegbar, .nicht_geprueft, .unbekannt {
  color: red;
}
.beigestellt {
  color: green;
}
.unterschiedlich{
  color: rgb(255, 120, 0);
}
.gleich{
  color: green;
}


// Für die Spalte
.mat-column-soll:not(.mat-mdc-header-cell),
.mat-column-ist:not(.mat-mdc-header-cell) {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-btbeschreibungkd, 
.mat-column-ist-btbeschreibungkd {
  width: 350px;
}

.mat-column-htnrkd, 
.mat-column-ist-htnrkd {
  width: 100px;
}

.mat-column-elbezkomp {
  width: 100px;
}

.mat-column-htnhkd, 
.mat-column-ist-htnhkd {
  width: 100px;
}

.mat-column-btnrlikd, 
.mat-column-ist-btnrlikd {
  width: 100px;
}

.mat-column-linamekurzkd, 
.mat-column-ist-linamekurzkd {
  width: 100px;
}

.mat-column-beschaffungsmenge, 
.mat-column-ist-beschaffungsmenge {
  width: 100px;
}

.mat-column-gesamtpreis, 
.mat-column-ist-gesamtpreis {
  width: 100px;
}

.mat-column-ist-anzprobgkomp, 
.mat-column-ist-gesamtmenge,
.mat-column-leer-anzprobgkomp,
.mat-column-leer-gesamtmenge {
  width: 50px;
}

.mat-column-technDaten, 
.mat-column-ist-technDaten {
  width: 100px;
}

.mat-column-ist-lieferzeit, 
.mat-column-soll-lieferzeit {
  width: 50px;
}