@import "../../styles/formular.scss";
@import "../../styles/_farbpallete";

// Für das Formular
.sticky-table-header {
  top: 60px;
}

// Für den Status Bereich im Einzelformular
.derzeitige_status {
  color: green;
  font-weight: bold
}

.vergangene_status {
  //color: black;
  color: green;
  font-weight: bold
}

.bevorstehender_status {
  color: rgba(128, 128, 128, 0.5);
}

.no-padding {
  padding-right: 0% !important;
  padding-left: 0% !important;
}

// Jede n-th Zeile Grau verfärben
.Graue_Zeile:nth-child(2n+2){ //Jede zweite Zeile ein Grauen Hintergrund geben. Fängt ab Zeile 4 an.
  background-color: $tabellen_jede_zweite_zeile !important; 
}

.Graue_Detail_Zeile:nth-child(2n+1) { //Jede sechste Zeile ein Grauen Hintergrund geben. Fängt ab Zeile 5 an.
  background-color: $tabellen_jede_zweite_zeile !important; 
}

td, th {
  font-size: medium;
}