@import "../../styles/formular.scss";

// Für das Formular
@media (min-width: 1300px) {
    form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1500px) {
    form {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1600px) {
    form {
        margin-left: 18%;
        margin-right: 18%;
    }
}

// Angular Material Tabelle Spalten
.mat-column-slpositionen{
    width: 100px;
}

.mat-column-aubemerkungkd,
.mat-column-expand{
    width: 10px;
}
